<!doctype html>

<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "Tropical Ruby 2015" %></title>

    <meta name="description" content="Enjoy amazing conversations, stunning landscapes and superb nature. Come and talk with some of the best Rubyists in this tropical conference in Porto de Galinhas.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tropicalrb.com">
    <meta property="og:title" content="Tropical Ruby 2015">
    <meta property="og:image" content="http://f.cl.ly/items/3b2b3w250u0g0S0s3d0b/logo-tropical-opengraph@2x.png">
    <meta property="og:description" content="Enjoy amazing conversations, stunning landscapes and superb nature. Come and talk with some of the best Rubyists in this tropical conference in Porto de Galinhas.">
    <meta name="twitter:card" value="summary_large_image">
    <meta name="twitter:creator" value="@tropicalrb">
    <meta name="twitter:site" value="@tropicalrb">
    <meta name="twitter:title" content="The Tropical Ruby Conference">
    <meta name="twitter:description" content="Enjoy amazing conversations, stunning landscapes and superb nature. Come and talk with some of the best Rubyists in this tropical conference in Porto de Galinhas.">
    <meta name="twitter:image:src" content="http://f.cl.ly/items/3b2b3w250u0g0S0s3d0b/logo-tropical-opengraph@2x.png">

    <%= favicon_tag 'favicon.ico', rel: 'icon', type: 'image/x-icon' %>
    <%= favicon_tag 'touch-icon-ipad.png', rel: 'apple-touch-icon', sizes:'76x76' %>
    <%= favicon_tag 'touch-icon@2x.png', rel: 'apple-touch-icon', sizes:'120x120' %>
    <%= favicon_tag 'touch-icon-ipad@2x.png', rel: 'apple-touch-icon', sizes:'152x152' %>

    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "main" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "navbar" %>
    <%= yield %>
    <%= partial "footer" %>
  </body>
</html>
