---
title: Tropical Ruby 2015 — Programação — 5 a 8 de março em Porto de Galinhas, Brasil
---

<main class="schedule day-three">

  <h1>Programação: 7 de Março, Atividades &amp; Palestras</h1>
  <%= partial "schedule-nav" %>

  <article class="schedule-area">
    <section class="activities">

      <header>
        <h2>Atividades</h2>
          <div class="schedule-subtitles">
            <small class="schedule-subtitle">
              <span class="icon-medium icon-calendar"></span><time date="2015-03-07">7 de Março • Manhã</time>
            </small>
            <a class="schedule-subtitle" href="https://goo.gl/maps/BDtI3" title="Veja no in Google Maps." target="_blank">
              <span class="icon-medium icon-geolocal"></span><address>Porto de Galinhas</address>
            </a>
          </div>
      </header>

      <ol class="schedule-events">

        <!-- Scuba Diving -->
        <li class="event" id="scuba-diving">
          <div class="event-content">
            <h3 class="event-title">Mergulho com Cilindro</h3>
            <div class="event-header">
              <%= image_tag 'event-activity-scuba@2x.png', class: 'event-image' %>
              <a class="event-local" href="https://goo.gl/maps/qZZsi" title="Veja no in Google Maps." target="_blank">Saindo do Centro de Porto de Galinhas</a>
              <time class="event-time long">8<span>h</span> às 11<span>h</span></time>
            </div>
            <p class="event-description">
              <span>Explore a belíssima fauna e flora marinha de Porto de Galinhas neste mergulho de batismo acompanhado de um instrutor com certificado SSI. <span class="provider">Realizada pela <a href="https://pt-br.facebook.com/deepdiveadventures" target="_blank">Deep Dive</a>.</span></span>
            </p>
            <a class="btn-buy disabled" href="http://www.eventick.com.br/tropicalrb-2015" target="_blank">Comprar ingresso</a>
            <span class="time-line"></span>
          </div>
        </li>

      </ol>
    </section>
    <section class="talks">

      <header>
        <h2>Palestras</h2>
          <div class="schedule-subtitles">
            <small class="schedule-subtitle"><span class="icon-medium icon-calendar"></span><time date="2015-03-7">7 de Março • Tarde</time></small>
            <small class="schedule-subtitle">
              <span class="icon-medium icon-translation"></span>Tradução Simultânea
            </small>
            <a class="schedule-subtitle" href="https://goo.gl/maps/d9Wxo" title="Veja no in Google Maps." target="_blank">
              <span class="icon-medium icon-geolocal"></span><address>Summerville Beach Resort</address>
            </a>
          </div>
      </header>

      <ol class="schedule-events">

        <!-- Transportation -->
        <li class="event event-minor transportation" id="recife-porto">
          <div class="event-content">
            <h3 class="event-title">Ônibus de Recife <span>para Porto de Galinhas</span></h3>
            <%= image_tag 'schedule-talk-transportation@2x.png', class: 'event-image' %>
            <a class="event-local" href="https://goo.gl/maps/yJueY" title="Veja no Google Maps." target="_blank">Saindo da Praça do Derby</a><time class="event-time long">5:30<span>h</span> &amp; 10<span>h</span></time><br>
            <a class="event-local" href="https://goo.gl/maps/prWoB" title="Veja no Google Maps." target="_blank">Saindo do Aeroporto</a><time class="event-time long">6<span>h</span> &amp; 10:30<span>h</span></time><br>
            <a class="event-local" href="https://goo.gl/maps/LiRCq" title="View it in Google Maps." target="_blank">Passando por Porto de Galinhas</a><time class="event-time long">7<span>h</span> &amp; 11:30<span>h</span></time>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Registration -->
        <li class="event event-minor" id="registration">
          <div class="event-content">
            <h3 class="event-title">Credenciamento</h3>
            <%= image_tag 'schedule-talk-registration@2x.png', class: 'event-image' %>
            <time class="event-time">12<span>h</span></time>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Rodrigo Franco -->
        <li class="event" id="rodrigo-franco">
          <div class="event-content">
            <h3 class="event-title">Keynote: Programadores Melhores</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-rodrigo@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Engenheiro de Aplicação no LivingSocial</h5><a class='github' href='https://github.com/caffo' target='_blank'></a><a class='twitter' href='http://twitter.com/caffo' target='_blank'></a>">Rodrigo Franco</a>
              </h4>
              <time class="event-time">13<span>h</span></time>
            </div>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- John Crepezzi -->
        <li class="event" id="john-crepezzi">
          <div class="event-content">
            <h3 class="event-title">Sobre Memória</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-john@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Desenvolvedor no Genius</h5>John é desenvolvedor do Genius em Nova York. Ele é autor de vários gems populares como ice_cube, easy_translate e google_plus. John também criador é do hastebin, uma versão opensource do pastebin. Ele adora falar em conferências, escrever sobre código, aprender coisas novas e programar.<br><a class='twitter' href='http://twitter.com/seejohnrun' target='_blank'></a>">John Crepezzi</a>
              </h4>
              <time class="event-time">13:40<span>h</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                O fato de que Ruby não requer que os desenvolvedores gerenciem memória torna o nosso dia-a-dia muito menos frustrante. Ainda assim, existem cenários onde
              </span>
              <span class="last-words">
                um descuido com nossos padrões e lógica irá nos trazer problemas. Nesta palestra serão mostradas falácias comuns (e outras não tão comuns) sobre memória, como identificá-las e como consertá-las.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Netto Farah -->
        <li class="event" id="netto-farah">
          <div class="event-content">
            <h3 class="event-title">Construíndo um <em>Single Page Application</em>, Uma Página por Vez.
</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-netto@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Code Monkey Brasileiro na 8tracks</h5>Netto é a vibe brasileira no código da 8tracks. Após alguns anos lutando contra arquitetos, gerentes e outras criaturas míticas do mundo <em>enterprise</em>, ele decidiu que era hora de escrever código para algo realmente motivador. O 8tracks.com uniu o últil ao agradável. Quando não está trabalhando na integração 8tracks com outros serviços, Netto está debugando o site para que você continue a curtir a magia da música.<br><a class='twitter' href='http://twitter.com/nettofarah' target='_blank'></a>">Netto Farah</a>
              </h4>
              <time class="event-time">14:10<span>h</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                Construir uma <em>single page application</em> pode parecer simples com tantas ferramentas como AngularJS, Knockout, Backbone, etc. Porém pouco é dito sobre como
              </span>
              <span class="last-words">
                transformar um aplicativo que já existe numa <em>single page application</em>.
                <br>
                Nesta palestra você irá aprender como um time de 4 pessoas construiu a próxima geração do 8tracks.com e como nós utilizamos Rails, Sinatra, Backbone e Mustache para resolver problemas como rotas, SEO, URLs legadas, suporte a browsers antigos e muitos outros desafios.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Fabiano Beselga -->
        <li class="event" id="fabiano-beselga">
          <div class="event-content">
            <h3 class="event-title">Arquitetura Limpa</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-fabiano@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>CTO na Magnetis</h5>Fabiano é CTO na Magnetis. Anteriormente foi consultor na Codeminer42, líder técnico na Hewlett-Packard (HP), analista de sistemas na Sprint Wireless e trabalhou como líder técnico em algumas startups brasileiras. Possui MBA em gerenciamento de TI com a perspectiva de colocar o código no contexto do negócio e não o contrário. Trabalha com Ruby desde 2007, entusiasta sempre a procura de maneiras de melhorar a arquitetura e projeto do código.<br><a class='twitter' href='http://twitter.com/fbzga' target='_blank'></a>">Fabiano Beselga</a>
              </h4>
              <time class="event-time">14:50<span>h</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                Rails é um framework fantástico para construir coisas rápidas do zero, mas quando a aplicação começa a crescer, fica difícil mantê-la se você continuar seguindo
              </span>
              <span class="last-words">
                a convenção inicial de pastas definda pelo Rails. Existem várias abordagens para contornar isso; o conceito de Arquitetura Limpa de Uncle Bob separa lógica da aplicação do mecanismo de entrega e da base de dados.
                <br>
                Eu mostrarei formas de aplicar a arquitetura limpa em um projeto Rails grande e quais os prós e contras de cada abordagem.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Coffee Break -->
        <li class="event event-minor" id="coffee-break-1">
          <div class="event-content">
            <h3 class="event-title">Coffee Break</h3>
            <%= image_tag 'schedule-talk-coffee@2x.png', class: 'event-image' %>
            <time class="event-time">15:20<span>h</span></time>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Carlos Antonio -->
        <li class="event" id="carlos-antonio">
          <div class="event-content">
            <h3 class="event-title">Contribuindo com <em>Open Source</em>: do Início às Lições Aprendidas</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-carlos@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Desenvolvedor de Software e Membro do Rails Core Team</h5>Desenvolvedor de Software, membro do Rails Core Team, amante do Open Source, Hacking Beaultiful Code.<br><a class='twitter' href='http://twitter.com/cantoniodasilva' target='_blank'></a>">Carlos Antonio</a>
              </h4>
              <time class="event-time">15:50<span>h</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                Muitas pessoas têm dificuldade para fazer sua primeira contribuição com <em>open source</em>, enquanto outros tentam continuar contribuindo ativamente. Eles não se
              </span>
              <span class="last-words">
                sentem confiantes o suficiente, ficam se perguntando se estão fazendo certo, se estão seguindo os “padrões”, se não vão cometer erros na frente de outros, e a lista de dúvidas só aumenta. Esta palestra irá tratar dos problemas que passei nos últimos anos contribuindo e mantendo projetos <em>open source</em>. Ela dará dicas de como começar e como se manter ativo no mundo <em>open source</em> de hoje, e manter a casa em dia para evitar perder o fôlego.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Andrew Rosa -->
        <li class="event" id="andrew-rosa">
          <div class="event-content">
            <h3 class="event-title">Testes de Propriedade em Rails</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-andrew@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Desenvolvedor de Software na Codeminer 42</h5>Apreciador de LISP, entusiasta de ambientes poliglotas e amante de linguagens funcionais.<br><a class='twitter' href='http://twitter.com/_andrewhr' target='_blank'></a>">Andrew Rosa</a>
              </h4>
              <time class="event-time">16:20<span>h</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                Ruby possui uma comunidade famosa pela forte aderência a práticas de teste, mas nem por isso nos fechamos a abordagens alternativas. Uma dessas abordagens
              </span>
              <span class="last-words">
                são os Testes Baseados em Propriedade. Nestas ferramentas expressamos não exemplos, mas o formato de nossas possíveis entradas; ao invés de saídas específicas, qualidades que devem se manter verdadeiras. Assim nossas ferramentas são capazes de gerar os casos de testes e procurar por falhas exaustivamente. Nesta palestra vamos ver como criar suites mais enxutas e com melhor cobertura, usando os poderes de Clojure para testar uma aplicação Rails.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Thiago Scalone -->
        <li class="event" id="thiago-scalone">
          <div class="event-content">
            <h3 class="event-title">MRuby: Mudando o Desenvolvimento Embarcado</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-thiago@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Engenheiro de Software Líder na CloudWalk</h5>Amante de Ruby e desenvolvedor há 7 anos, Thiago é participante e palestrante do Guru-SP, TDC, Ruby + Rails no Mundo Real, RubyConf Brasil, Ruby Kaigi entre outras comunidades e eventos. Thiago trabalhou como desenvolvedor por 4 anos em São Paulo e, há 3 anos atrás cria programas embarcados em C.<br><a class='twitter' href='http://twitter.com/scalone' target='_blank'></a>">Thiago Scalone</a>
              </h4>
              <time class="event-time">16:50<span>h</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                MRuby (<em>Minimalistic Ruby</em>) é uma nova implementação do Ruby feita pensando na economia de recursos. Por este motivo o MRuby é perfeito para o
              </span>
              <span class="last-words">
                mundo do software embarcado e, muito além disso, para softwares com responsabilidades limitadas. Nesta palestra iremos entender o estado do desenvolvimento embarcado hoje tendo dispositivos de pagamento como estudo de caso. Vamos aprender também como o MRuby é bonito e útil tanto na integração dispositivo-navegador como também na linha de comando.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Marcos Matos -->
        <li class="event" id="marcos-matos">
          <div class="event-content">
            <h3 class="event-title">Micro Problemas!</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-marcos@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Desenvolvedor na ThoughtWorks</h5>Marcos Matos é um apaixonado por programação! Gosta de discutir qualquer tópico de computação, estudar linguagens estranhas e tomar uma boa cerveja. Um mineiro morando em Porto Alegre, onde trabalha na ThoughtWorks.<br><a class='twitter' href='http://twitter.com/marcosccm' target='_blank'></a>">Marcos Matos</a>
              </h4>
              <time class="event-time">17:20<span>h</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                Micro serviços estão na moda. Uma cura mágica para projetos de grande complexidade. O problema está nos detalhes! Como qualquer bom tópico da moda,
              </span>
              <span class="last-words">
                os problemas e complicações trazidos por este estilo muitas vezes não são discutidos, tópicos como performance, escalabilidade, testes de integração e infraestrutura. Nesta anti-palestra vamos mostrar as armadilhas que espreitam uma arquitetura micro serviços e como evitá-las.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Coffee Break -->
        <li class="event event-minor" id="coffee-break-2">
          <div class="event-content">
            <h3 class="event-title">Coffee Break</h3>
            <%= image_tag 'schedule-talk-coffee@2x.png', class: 'event-image' %>
            <time class="event-time">5:50<span>pm</span></time>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- PJ Hagerty -->
        <li class="event" id="pj-hagerty">
          <div class="event-content">
            <h3 class="event-title">Lendas Urbanas: O Código Que Você Escreve Te Torna Quem Você É</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-pj@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Líder da Equipe de Comunidade na Engine Yard</h5>Desenvolvedor Ruby há vários anos, PJ atualmente trabalha na Engine Yard como Líder da Equipe de Comunidade. Além disso ele está a frente do <em>Western New York Ruby Brigade</em>. Viajando entre conferências e meetups de Ruby no Estados Unidos e Canadá, PJ difunde a importância da comunidade salientando a importância da divulgação e focando o lado humano de ser um desenvolvedor.<br><a class='twitter' href='http://twitter.com/aspleenic' target='_blank'></a>">PJ Hagerty</a>
              </h4>
              <time class="event-time">18:20<span>h</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                 Se você fosse um carpinteiro suas habilidades de construir coisas seriam mais importantes que as ferramentas que você usa? Sim, correto? Ferramentas são só
              </span>
              <span class="last-words">
                 o meio para um fim. Então porque desenvolvedores pensam que a linguagem de programação que eles usam definem os problemas que eles resolvem?
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Avdi Grimm -->
        <li class="event" id="avdi-grimm">
          <div class="event-content">
            <h3 class="event-title">Keynote: A Alma do Software</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-avdi@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>A mente por trás do RubyTapas.com, autor de Confident Ruby e um Ruby Rogue</h5><a class='twitter' href='http://twitter.com/avdi' target='_blank'></a><a class='web' href='http://rubytapas.com' target='_blank'></a>">Avdi Grimm</a>
              </h4>
              <time class="event-time">18:50<span>h</span></time>
            </div>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Transportation -->
        <li class="event event-minor transportation" id="porto-recife">
          <div class="event-content">
            <h3 class="event-title">Ônibus de Porto de Galinhas<span> para Recife</span></h3>
            <%= image_tag 'schedule-talk-transportation@2x.png', class: 'event-image' %>
            <a class="event-local" href="https://goo.gl/maps/Dhjuz" title="Veja no Google Maps." target="_blank">Saindo do Summerville</a><time class="event-time">20<span>h</span></time><br>
            <a class="event-local" href="https://goo.gl/maps/Hf8My" title="Veja no Google Maps." target="_blank">Chegando no Aeroporto</a><time class="event-time">21:30<span>h</span></time><br>
            <a class="event-local" href="https://goo.gl/maps/LiRCq" title="View it in Google Maps." target="_blank">Passando por Porto de Galinhas</a><time class="event-time long">7<span>h</span> &amp; 20:30<span>h</span></time><br>
            <a class="event-local" href="https://goo.gl/maps/C6Zno" title="Veja no Google Maps." target="_blank">Chegando na Praça do Derby</a><time class="event-time">22:10<span>h</span></time>
            <span class="time-line"></span>
          </div>
        </li>

      </ol>
    </section>
  </article>
</main>

<%= javascript_include_tag 'schedule' %>
