---
title: Tropical Ruby 2015 — Programação — 5 a 8 de março em Porto de Galinhas, Brasil
alias: schedule/
---

<main class="schedule day-one">

  <h1>Programação: 5 de Março, Workshops</h1>
  <%= partial "schedule-nav" %>

  <article class="schedule-area">
    <section class="workshops">

      <header>
        <h2>Workshops</h2>
          <div class="schedule-subtitles">
            <small class="schedule-subtitle">
              <span class="icon-medium icon-calendar"></span><time date="2015-03-05">5 de Março • Manhã e Tarde</time>
            </small>
            <a class="schedule-subtitle" href="https://goo.gl/maps/YaXoz" title="Veja no Google Maps." target="_blank">
              <span class="icon-medium icon-geolocal"></span><address>Bairro do Recife</address>
            </a>
          </div>
      </header>

      <ol class="schedule-events">

        <!-- Julio Faerman & Rafael Lopes -->
        <li class="event" id="julio-faerman-and-rafael-lopes">
          <div class="event-content">
            <h3 class="event-title">Desenvolvimento e Operações Reativas em Ruby</h3>
            <div class="event-header">
              <%= image_tag 'event-workshop-rafael-julio@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Evangelista Técnico Amazon Web Services</h5>Julio Faerman é engenheiro de software e professor, entre outros rótulos. Trabalha na AWS como responsável pelo relacionamento com a comunidade de desenvolvedores latino-americanos, explorando com eles a computação em nuvem e trazendo de volta as experiências do caminho. Antes disso, trabalhou na Red Hat, na Borland e em grandes instituições de governo e de telecom. Além da AWS, também inova em projetos open-source na Craftware, é editor do InfoQ e do QCon, professor de uma pós-graduação na UNITRI e um dos líderes do UAI Java User Group.<br><a class='twitter' href='https://twitter.com/jmfaerman' target='_blank'></a><a class='web' href='http://www.linkedin.com/x/profile/mzxuqox8qbcf/AFJLcGmieV' target='_blank'></a>">Julio Faerman</a> &amp; <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Instrutor Técnico na Amazon Web Services</h5>Rafael Lopes é engenheiro de infraestrutura e bacharel em sistemas de informação. Trabalha na Amazon como Instrutor Técnico, onde além de lecionar cursos e webinars, participa de eventos e palestras para usuários AWS ao redor do mundo. Por ter visto Cloud Computing nascer e pela afinidade com o assunto, sabe por experiência própria seus valores e benefícios. Previamente trabalhou na área de gerencia de infraestrutura tanto no modelo tradicional quanto Cloud, onde se determinou trabalhar disseminando conteúdo e entusiasmando novas pessoas e empresas a aderirem essa tecnologia utilizando da forma mais proveitosa e extraindo suas maiores vantagens.<br><a class='twitter' href='https://twitter.com/bobeirasa' target='_blank'></a><a class='web' href='http://rafalop.es/work/linkedin' target='_blank'></a>">Rafael Lopes</a>
              </h4>
              <time class="event-time long">8<span>h</span> às 18<span>h</span></time>
              <div class="workshop-local">
                <span class="icon-medium icon-geolocal"></span><a class="event-local" href="https://goo.gl/maps/gVQ1K" title="View it in Google Maps." target="_blank">Portomídia</a>
              </div>
            </div>
            <p class="event-description">
              <span class="first-words">
                A Programação Reativa, como afirmada em seu manifesto, propõe o desenvolvimento de sistemas que sejam "Responsivos, Resilientes, Elásticos e Orientados a Mensagens". Sendo características desejáveis a qualquer software, por quê não estendermos essas propriedades do desenvolvimento para a operação de sistemas?
              </span>
              <span class="last-words">
                <br>
                <br>
                Neste tutorial veremos não apenas como desenvolver uma aplicação reativa, mas também como usar os mesmos conceitos e ferramentas na administração de infraestrutura. Será presumido apenas o conhecimento básico de Ruby e computação em nuvem, permitindo o aprofundamento na biblioteca para programação reativa Rx.rb e nos serviços da Amazon Web Services.
                <br>
                <br>
                O dia será dividido em quatro sequências de apresentação, exercício e desafios. Partiremos de uma aplicação reativa usando serviços essenciais da AWS, como S3 e EC2,  e sobre este ambiente executaremos três melhorias: Automação com Elastic Beanstalk, Escalabilidade com DynamoDB e Otimização além do EC2. Na conclusão, revisaremos os pontos principais e opções de continuidade.
                <br>
                <br>
                Ao concluir este tutorial, você terá a prática e o código necessários para implantar sistemas responsivos, resilientes, elásticos e orientados à mensagens na AWS com Ruby. Do dev ao ops.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <a class="btn-buy disabled" href="http://www.eventick.com.br/tropicalrb-2015" target="_blank">Comprar ingresso</a>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Noelia Cabane -->
        <li class="event" id="noelia-cabane">
          <div class="event-content">
            <h3 class="event-title">O Caminho para UI Modular</h3>
            <div class="event-header">
              <%= image_tag 'event-workshop-noelia@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Designer de Produto e Desenvolvedora Front-end no Restorando</h5>Noelia é uma Designer Gráfica da formada na Universidad de Buenos Aires que começou com design impresso e descobriu sua paixão por design centrado no usuário. Como Designer de Produto e Desenvolvedora Front-end do Restorando ela trabalha em diversos aplicativos mobile, no site público da empresa e em ferramentas utilizadas por diversos restaurantes. Foi lá que ela descobriu o potencial do SASS combinado com CSS orientado a objetos. Noelia também é organizadora do RailsGrils Buenos Aires.<br><a class='github' href='https://github.com/noeliacabane' target='_blank'></a><a class='twitter' href='http://twitter.com/noeliacabane' target='_blank'></a><a class='web' href='https://www.linkedin.com/in/noeliacabane' target='_blank'></a>">Noelia Cabane</a>
              </h4>
              <time class="event-time long">8<span>h</span> às 12<span>h</span></time>
              <div class="workshop-local">
                <span class="icon-medium icon-geolocal"></span><a class="event-local" href="https://goo.gl/maps/wjOKG" title="View it in Google Maps." target="_blank">Impact Hub Recife</a>
              </div>
            </div>
            <p class="event-description">
              <span class="first-words">
                Porque refatorar CSS? Refactor envolve redesign? Todos os CSSs estão fadados a serem uma bagunça? Você utiliza SASS nos seus projetos mas o CSS gerado é horrível? Não se preocupe! Ainda há esperança!
              </span>
              <span class="last-words">
                <br>
                <br>
                Simplifique a refatoração do CSS e HTML através de alguns princípios de modularidade e front-end. Você aprenderá a identificar padrões e a construir diversos blocos de CSS quem poderão ser reutilizadas em várias partes do projeto.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <a class="btn-buy disabled" href="http://www.eventick.com.br/tropicalrb-2015" target="_blank">Comprar ingresso</a>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Celso Fernandes & Nick Sutterer -->
        <li class="event" id="celso-fernandes-and-nick-sutterer">
          <div class="event-content">
            <h3 class="event-title">Arquitetura Importa: Uma Introdução Apetitosa ao Trailblazer</h3>
            <div class="event-header">
              <%= image_tag 'event-workshop-nick-celso@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>CEO na Zertico</h5>Hacker na Zertico desde 2010. Como CEO da empresa ele esteve focado em gerenciamento mas sempre liderando avanços em nuvem, xen, puppet e Rails! Celso contribui para alguns projetos opensource como o fog (onde é mantenedor dos módulos xenserver e softlayer), Trailblazer, #cobra e example42 (módulos do puppet).<br><a class='github' href='https://github.com/fernandes' target='_blank'></a><a class='twitter' href='http://twitter.com/celsovjf' target='_blank'></a>">Celso Fernandes</a> &amp; <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Criador do Trailblazer, Roar e Cells</h5><a class='twitter' href='http://twitter.com/apotonick' target='_blank'></a>">Nick Sutterer</a>
              </h4>
              <time class="event-time long">14<span>h</span> às 18<span>h</span></time>
              <div class="workshop-local">
                <span class="icon-medium icon-geolocal"></span><a class="event-local" href="https://goo.gl/maps/wjOKG" title="View it in Google Maps." target="_blank">Impact Hub Recife</a>
              </div>
            </div>
            <p class="event-description">
              <span class="first-words">
                Trailblazer é um framework construido sobre Rails. Ele provê uma série de camadas de abstração muito necessárias. Além disso o Trailblazer oferece um encapsulamento bem feito e uma arquitetura mais fácil de ser mantida. Neste workshop nós iremos aprender o básico sobre como projetar seu domínio, encapsular lógica de negócio dentro de operações, form objects e view models e daremos uma visão diferente sobre a camada de persistência.
              </span>
              <span class="last-words">
                <br>
                <br>
                Após esta breve introdução, vamos por a mão na massa escrevendo uma pequena aplicação feita com o Trailblazer/Rails e iremos aprender diversas coisas interessantes sobre esta alternativa de arquitetura. Tudo isso acompanhado de uma cerveja bem gelada!
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <a class="btn-buy disabled" href="http://www.eventick.com.br/tropicalrb-2015" target="_blank">Comprar ingresso</a>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Devbeer -->
        <li class="event event-minor" id="registration">
          <div class="event-content">
            <h3 class="event-title">Devbeers</h3>
            <%= image_tag 'schedule-talk-beer@2x.png', class: 'event-image' %>
            <time class="event-time">18<span>h</span></time>
            <div class="workshop-local">
              <span class="icon-medium icon-geolocal"></span><a class="event-local" href="https://goo.gl/maps/wjOKG" title="View it in Google Maps." target="_blank">Impact Hub Recife</a>
            </div>
            <p class="event-description">
              Patrocinado pelo <a href="https://twitter.com/twitterbrasil" target="_blank">Twitter</a> e <a href="http://recife.impacthub.net/" target="_blank">Impact Hub Recife</a>.
            </p>
            <span class="time-line"></span>
          </div>
        </li>

      </ol>
    </section>
  </article>
</main>

<%= javascript_include_tag 'schedule' %>
