---
title: Tropical Ruby 2015 — Programação — 5 a 8 de março em Porto de Galinhas, Brasil
---

<main class="schedule day-two">

  <h1>Programação: 6 de Março, Atividades &amp; Palestras</h1>
  <%= partial "schedule-nav" %>

  <article class="schedule-area">
    <section class="activities">

      <header>
        <h2>Atividades</h2>
          <div class="schedule-subtitles">
            <small class="schedule-subtitle">
              <span class="icon-medium icon-calendar"></span><time date="2015-03-06">6 de Março • Manhã</time>
            </small>
            <a class="schedule-subtitle" href="https://goo.gl/maps/BDtI3" title="Veja no Google Maps." target="_blank">
              <span class="icon-medium icon-geolocal"></span><address>Porto de Galinhas</address>
            </a>
          </div>
      </header>

      <ol class="schedule-events">

        <!-- Buggy Ride -->
        <li class="event" id="buggy-ride">
          <div class="event-content">
            <h3 class="event-title">Passeio de Buggy</h3>
            <div class="event-header">
              <%= image_tag 'event-activity-buggy@2x.png', class: 'event-image' %>
              <a class="event-local" href="https://goo.gl/maps/d9Wxo" title="Veja no Google Maps." target="_blank">Saindo do Summerville Beach Resort</a>
              <time class="event-time long">8<span>h</span> às 11<span>h</span></time>
            </div>
            <p class="event-description">
              <span>Curta esta aventura off-road pelas praias de areia branca de Muro Alto, Cupe, Porto de Galinhas e Maracaípe. <span class="provider">Realizada pela <a href="http://www.pontestur.com.br/" target="_blank">PontesTur</a>.</span></span>
            </p>
            <a class="btn-buy" href="http://www.eventick.com.br/tropicalrb-2015" target="_blank">Comprar ingresso</a>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Raft Boat Sail -->
        <li class="event" id="raft-boat-sail">
          <div class="event-content">
            <h3 class="event-title">Passeio de Jangada</h3>
            <div class="event-header">
              <%= image_tag 'event-activity-sail@2x.png', class: 'event-image' %>
              <a class="event-local" href="https://goo.gl/maps/qZZsi" title="Veja no Google Maps." target="_blank">Saindo do Centro de Porto de Galinhas</a>
              <time class="event-time long">9<span>h</span> às 10<span>h</span></time>
            </div>
            <p class="event-description">
              <span>Navegue pelas famosas piscinas naturais de Porto de Galinhas no tradicional barco a vela usado pelos pescadores nordestinos. <span class="provider">Realizada pela <a href="http://www.pontestur.com.br/" target="_blank">PontesTur</a>.</span></span>
            </p>
            <a class="btn-buy" href="http://www.eventick.com.br/tropicalrb-2015" target="_blank">Comprar ingresso</a>
            <span class="time-line"></span>
          </div>
        </li>

      </ol>
    </section>
    <section class="talks">

      <header>
        <h2>Palestras</h2>
          <div class="schedule-subtitles">
            <small class="schedule-subtitle">
              <span class="icon-medium icon-calendar"></span><time date="2015-03-6">6 de Março • Tarde</time>
            </small>
            <small class="schedule-subtitle">
              <span class="icon-medium icon-translation"></span>Tradução Simultânea
            </small>
            <a class="schedule-subtitle" href="https://goo.gl/maps/d9Wxo" title="Veja no Google Maps." target="_blank">
              <span class="icon-medium icon-geolocal"></span><address>Summerville Beach Resort</address>
            </a>
          </div>
      </header>

      <ol class="schedule-events">

        <!-- Transportation -->
        <li class="event event-minor transportation" id="recife-porto">
          <div class="event-content">
            <h3 class="event-title">Ônibus de Recife <span>para Porto de Galinhas</span></h3>
            <%= image_tag 'schedule-talk-transportation@2x.png', class: 'event-image' %>
            <a class="event-local" href="https://goo.gl/maps/C6Zno" title="Veja no Google Maps." target="_blank">Saindo da Praça do Derby</a><time class="event-time long">5:30<span>h</span> &amp; 10<span>h</span></time><br>
            <a class="event-local" href="https://goo.gl/maps/Hf8My" title="Veja no Google Maps." target="_blank">Saindo do Aeroporto</a><time class="event-time long">6<span>h</span> &amp; 10:30<span>h</span></time>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Registration -->
        <li class="event event-minor" id="registration">
          <div class="event-content">
            <h3 class="event-title">Credenciamento</h3>
            <%= image_tag 'schedule-talk-registration@2x.png', class: 'event-image' %>
            <time class="event-time">12<span>h</span></time>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Nick Sutterer -->
        <li class="event" id="nick-sutterer">
          <div class="event-content">
            <h3 class="event-title">Keynote: See You On The Trail!</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-nick@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Creator of Trailblazer, Roar and Cells</h5><a class='twitter' href='http://twitter.com/apotonick' target='_blank'></a>">Nick Sutterer</a>
              </h4>
              <time class="event-time">1<span>pm</span></time>
            </div>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Simone Carletti -->
        <li class="event" id="simone-carletti">
          <div class="event-content">
            <h3 class="event-title">Maintaining a 5yo Ruby project</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-simone@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Software Developer at DNSimple</h5>Simone Carletti is a software developer. He has been working professionally with Ruby since 2006. He's very passionate about code quality and best practices. He has been involved with FOSS (free/open source software) for more than a decade, contributing code and creating libraries in several different programming languages. Currently, Simone is a software developer at DNSimple.<br><a class='github' href='https://github.com/weppos' target='_blank'></a><a class='twitter' href='http://twitter.com/weppos' target='_blank'></a><a class='web' href='http://www.linkedin.com/in/weppos' target='_blank'></a>">Simone Carletti</a>
              </h4>
              <time class="event-time">1:40<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                Maintaining a young, small Ruby product is simple, but time passes and your code becomes harder to maintain day after day. This talk illustrates the development
              </span>
              <span class="last-words">
                techniques, Ruby patterns and best practices we use at DNSimple to develop new features and ensure long-term maintainability of our codebase.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Christopher Rigor -->
        <li class="event" id="christopher-rigor">
          <div class="event-content">
            <h3 class="event-title">Cryptography for Rails Developers</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-christopher@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Support Team Lead at Engine Yard</h5>Christopher Rigor has degrees in Computer Science and Mathematics. He is a Rails developer and system administrator and currently the Support team lead at Engine Yard in Asia Pacific.<br><a class='twitter' href='http://twitter.com/crigor' target='_blank'></a>">Christopher Rigor</a>
              </h4>
              <time class="event-time">2:10<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                You know HTTPS keeps your website secure but do you know how? Ruby just released a new version to address a vulnerability with SSL but do you know your app might
              </span>
              <span class="last-words">
                still be vulnerable? Cryptography is a hard and huge topic and this talk will give you a great introduction. You don't need a background on cryptography, just an open mind! You will learn about the public key cryptography, SSL/TLS and Ruby tips that will make your app secure.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Alex Coles -->
        <li class="event" id="alex-coles">
          <div class="event-content">
            <h3 class="event-title">Frontend Choices</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-alex@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Software Engineer and Consultant at Finn GmbH</h5>Alex Coles unabashedly wears the hat of ‘generalist’. He is active in the Ruby community, having founded the annual eurucamp camp/conference and JRubyConf EU. He has also contributed extensively to many open-source projects including OpenProject, RefineryCMS and DataMapper.<br><a class='github' href='https://github.com/myabc' target='_blank'></a><a class='twitter' href='http://twitter.com/myabc' target='_blank'></a><a class='web' href='http://www.linkedin.com/in/alexbcoles' target='_blank'></a>">Alex Coles</a>
              </h4>
              <time class="event-time">2:40<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                Rails was born in 2004, the time of the "Ajax revolution". With the help of a little bit of prototype, Scriptaculous and RJS, Rails made its mark in part because it facilitated
              </span>
              <span class="last-words">
              creating beautiful and highly interactive web user interfaces in no time at all. Fast forward to 2013. Frameworks like Meteor and Hoodie are capturing increasing mindshare. Are we now in the decade of JavaScript? Is the "Rails Way" still relevant to the frontend?
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <li class="event event-minor" id="coffee-break">
          <div class="event-content">
            <h3 class="event-title">Coffee Break</h3>
            <%= image_tag 'schedule-talk-coffee@2x.png', class: 'event-image' %>
            <time class="event-time">3:10<span>pm</span></time>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Ricardo Nacif -->
        <li class="event" id="ricardo-nacif">
          <div class="event-content">
            <h3 class="event-title">Writing Your Own DSL Using Ruby</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-ricardo@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Automation QA Engineer at Avenue Code</h5><a class='web' href='https://www.linkedin.com/in/ricardonacif' target='_blank'></a>">Ricardo Nacif</a>
              </h4>
              <time class="event-time">3:40<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                In this talk we'll go through some concepts on the Ruby language that will help us creating our own custom Domain Specific Language. It's a very hands-on
              </span>
              <span class="last-words">
                keynote. We'll play with dynamic classes, dynamic methods, blocks, procs and method chaining, but our main goal is to write (and learn how) our own Pizza Menu DSL.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Marcelo De Polli -->
        <li class="event" id="marcelo-de-polli">
          <div class="event-content">
            <h3 class="event-title">POROs to the Rescue</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-marcelo@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Software Developer at Chargify</h5>Marcelo is a software developer at Chargify, where he hacks into a codebase that serves over 1,500 companies and millions of individual customers. A mixed creature of design and technology, he has spent as many years thinking up user interfaces as he has writing code.<br><a class='twitter' href='http://twitter.com/mdepolli' target='_blank'></a>">Marcelo De Polli</a>
              </h4>
              <time class="event-time">4:10<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                Being tasked with rescuing an ancient codebase and turning it into something workable and manageable is a predicament most of us have already found ourselves in.
              </span>
              <span class="last-words">
                In the 10 years since we began using Ruby to write Web applications, a lot has changed concerning architectures and design patterns. How do you take your code in a time travel from the olden days to more current practices such as POROs, lean models, presenters and decorators? This talk will walk you through some easy practices that can make that trip less bumpy and allow you to survive to tell the story.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Lucas Allan -->
        <li class="event" id="lucas-allan">
          <div class="event-content">
            <h3 class="event-title">Concurrent-Ruby: Ruby in the Concurrent World</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-lucas@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Software Engineer at Mogo</h5>Lucas Allan has worked with software development for 7 years and currently he is Software Engineer at Mogo in Vancouver, Canada. In the last 6 years, he has worked mostly with Ruby, but currently he also works with Clojure and Scala. In his spare time he likes to contribute with some open-source projects like JRuby and concurrent-ruby and he is also the creator of LuaTruffle (version of Lua implemented on top of the JVM - still in development).<br><a class='github' href='https://github.com/lucasallan' target='_blank'></a><a class='twitter' href='http://twitter.com/lucasallan' target='_blank'></a>">Lucas Allan</a>
              </h4>
              <time class="event-time">4:40<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                Rumor has it that you can't write concurrent programs in Ruby. People once believed that the world was flat and we all know how that turned out. Between the native
              </span>
              <span class="last-words">
                threads introduced in MRI 1.9 and the JVM threading available to JRuby, Ruby is now a valid platform for concurrent applications. What we've been missing — until now — are the advanced concurrency tools available to other languages like Clojure, Scala, Erlang, and Go.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Rafael França -->
        <li class="event" id="rafael-frança">
          <div class="event-content">
            <h3 class="event-title">Object Oriented Design, Rails and Why You Should Think Twice Before Leaving the Rails Way</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-rafael-franca@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Software Developer at Plataformatec and Rails Core Team Member</h5>Rafael França is a software developer from Plataformatec and a Rails Core Team member. He contributes to several open source projects, notably Simple Form, of which he's a maintainer.<br><a class='twitter' href='http://twitter.com/rafaelfranca' target='_blank'></a>">Rafael França</a>
              </h4>
              <time class="event-time">5:10<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                The Ruby community has been bombarded by a plethora of discussions about software design best practices. Acronyms such as SOLID, DCI and SOA are up in the community
              </span>
              <span class="last-words">
                and all them promise to materialize the ghost of maintainability. What few of these discussions present is that applying these principles and techniques fervently also impacts the software maintenance.
                <br>
                <br>
                In this talk I will present some of these concepts and show the symptoms that they can cause in yours projects if applied incorrectly.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Coffee Break -->
        <li class="event event-minor" id="coffee-break">
          <div class="event-content">
            <h3 class="event-title">Coffee Break</h3>
            <%= image_tag 'schedule-talk-coffee@2x.png', class: 'event-image' %>
            <time class="event-time">5:50<span>pm</span></time>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Yasodara Córdova -->
        <li class="event" id="yasodara-córdova">
          <div class="event-content">
            <h3 class="event-title">25 Minutes of Semantic Web</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-yasodara@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Project leader</h5>Yaso is project leader at W3C Brazil office and co-chair of the Data on the Web Best Practices (#dwbp FTW!). Graduated in Industrial Design, self-taught developer and open source enthusiastic and practioner. Worked for many years at UNESCO as technical consultant for inovation, and in a past life won 2 Vladimir Herzog prizes making DataVis for journalism. Today, her work consists in research and build software that awake people to Web's potential to be a tool towards a more open, free and universal Internet.<br><a class='twitter' href='http://twitter.com/yaso' target='_blank'></a><a class='web' href='http://www.linkedin.com/in/yasodara' target='_blank'></a>">Yasodara Córdova</a>
              </h4>
              <time class="event-time">6:20<span>pm</span></time>
            </div>
            <p class="event-description">
              The promess is: you'll understand in 10 minutes why use Semantic Web. The following 15 minutes of the talk will be used to show 15 applications using the concepts of Semantic Web, one per minute :-)
            </p>
            <span class="time-line"></span>
          </div>
        </li>


        <!-- Panel -->
        <li class="event" id="panel">
          <div class="event-content">
            <h3 class="event-title">Panel: The Rails Way vs. Trailblazer</h3>
            <div class="event-header">
              <%= image_tag 'event-panel@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Software Developer at Plataformatec and Rails Core Team Member</h5>Rafael França is a software developer from Plataformatec and a Rails Core Team member. He contributes to several open source projects, notably Simple Form, of which he's a maintainer.<br><a class='twitter' href='http://twitter.com/rafaelfranca' target='_blank'></a>">Rafael França</a>, <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Developer at Enjoei and Rails Core Team Member</h5>Developer at @enjoei, Rails Core Team Member, Open Source Lover, Hacking Beautiful Code.<br><a class='twitter' href='http://twitter.com/cantoniodasilva' target='_blank'></a>">Carlos Antonio</a> &amp; <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Creator of Trailblazer, Roar and Cells</h5><a class='twitter' href='http://twitter.com/apotonick' target='_blank'></a>">Nick Sutterer</a>
              </h4>
              <time class="event-time">6:50<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                Organizing and structuring Rails applications has been an ongoing discussion for years in the community. While some find in necessary to introduce new abstraction
              </span>
              <span class="last-words">
                layers, indirection and encapsulation for a sustainable architecture, others defend we shouldn't abandon the Rails Way for the sake of conventions and compatibility.
                <br>
                <br>
                In this panel both members from Rails core as well as the creator of Trailblazer are gonna discuss both approaches, their point of views, why they choose their way, and why they still can be friends.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Menos">Mais</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Transportation -->
        <li class="event event-minor transportation" id="recife-porto">
          <div class="event-content">
            <h3 class="event-title">Ônibus de Porto de Galinhas<span> para Recife</span></h3>
            <%= image_tag 'schedule-talk-transportation@2x.png', class: 'event-image' %>
            <a class="event-local" href="https://goo.gl/maps/Dhjuz" title="Veja no Google Maps." target="_blank">Saindo do Summerville</a><time class="event-time">20<span>h</span></time><br>
            <a class="event-local" href="https://goo.gl/maps/C6Zno" title="Veja no Google Maps." target="_blank">Chegando na Praça do Derby</a><time class="event-time">21:30<span>h</span></time><br>
            <a class="event-local" href="https://goo.gl/maps/Hf8My" title="Veja no Google Maps." target="_blank">Chegando no Aeroporto</a><time class="event-time">22<span>h</span></time>
            <span class="time-line"></span>
          </div>
        </li>

      </ol>
    </section>
  </article>
</main>

<%= javascript_include_tag 'schedule' %>
