---
title: Tropical Ruby 2015 — Schedule — March 5th to 8th at Porto de Galinhas, Brazil
---

<main class="schedule day-three">

  <h1>Schedule: March 7th, Activities &amp; Talks</h1>
  <%= partial "schedule-nav" %>

  <article class="schedule-area">
    <section class="activities">

      <header>
        <h2>Activities</h2>
          <div class="schedule-subtitles">
            <small class="schedule-subtitle">
              <span class="icon-medium icon-calendar"></span><time date="2015-03-07">March 7th • Morning</time>
            </small>
            <a class="schedule-subtitle" href="https://goo.gl/maps/BDtI3" title="View it in Google Maps." target="_blank">
              <span class="icon-medium icon-geolocal"></span><address>Porto de Galinhas</address>
            </a>
          </div>
      </header>

      <ol class="schedule-events">

        <!-- Scuba Diving -->
        <li class="event" id="scuba-diving">
          <div class="event-content">
            <h3 class="event-title">Scuba Diving</h3>
            <div class="event-header">
              <%= image_tag 'event-activity-scuba@2x.png', class: 'event-image' %>
              <a class="event-local" href="https://goo.gl/maps/qZZsi" title="View it in Google Maps." target="_blank">Leaving from Porto de Galinhas Square</a>
              <time class="event-time long">8<span>am</span> to 11<span>am</span></time>
            </div>
            <p class="event-description">
              <span>Explore the gorgeous marine fauna and flora of Porto de Galinhas in this baptism diving accompanied by an SSI certified instructor. <span class="provider">Provided by <a href="https://pt-br.facebook.com/deepdiveadventures" target="_blank">Deep Dive</a>.</span></span>
            </p>
            <a class="btn-buy" href="https://tropicalrb-2015.eventbrite.com" target="_blank">Buy ticket</a>
            <span class="time-line"></span>
          </div>
        </li>

      </ol>
    </section>
    <section class="talks">

      <header>
        <h2>Talks</h2>
          <div class="schedule-subtitles">
            <small class="schedule-subtitle"><span class="icon-medium icon-calendar"></span><time date="2015-03-7">March 7th • Afternoon</time></small>
            <small class="schedule-subtitle">
              <span class="icon-medium icon-translation"></span>Simultaneous Translation
            </small>
            <a class="schedule-subtitle" href="https://goo.gl/maps/d9Wxo" title="View it in Google Maps." target="_blank">
              <span class="icon-medium icon-geolocal"></span><address>Summerville Beach Resort</address>
            </a>
          </div>
      </header>

      <ol class="schedule-events">

        <!-- Transportation -->
        <li class="event event-minor transportation" id="recife-porto">
          <div class="event-content">
            <h3 class="event-title">Transfer from Recife <span>to Porto de Galinhas</span></h3>
            <%= image_tag 'schedule-talk-transportation@2x.png', class: 'event-image' %>
            <a class="event-local" href="https://goo.gl/maps/yJueY" title="View it in Google Maps." target="_blank">Leaving from Derby Square</a><time class="event-time long">5:30<span>am</span> &amp; 10<span>am</span></time><br>
            <a class="event-local" href="https://goo.gl/maps/prWoB" title="View it in Google Maps." target="_blank">Leaving from Recife Int. Airport</a><time class="event-time long">6<span>am</span> &amp; 10:30<span>am</span></time><br>
            <a class="event-local" href="https://goo.gl/maps/LiRCq" title="View it in Google Maps." target="_blank">Passing through Porto de Galinhas</a><time class="event-time long">7<span>am</span> &amp; 11:30<span>am</span></time>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Registration -->
        <li class="event event-minor" id="registration">
          <div class="event-content">
            <h3 class="event-title">Registration</h3>
            <%= image_tag 'schedule-talk-registration@2x.png', class: 'event-image' %>
            <time class="event-time">12<span>pm</span></time>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Rodrigo Franco -->
        <li class="event" id="rodrigo-franco">
          <div class="event-content">
            <h3 class="event-title">Keynote: Better Programmers</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-rodrigo@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Application Engineer at LivingSocial</h5><a class='github' href='https://github.com/caffo' target='_blank'></a><a class='twitter' href='http://twitter.com/caffo' target='_blank'></a>">Rodrigo Franco</a>
              </h4>
              <time class="event-time">1<span>pm</span></time>
            </div>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- John Crepezzi -->
        <li class="event" id="john-crepezzi">
          <div class="event-content">
            <h3 class="event-title">On Memory</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-john@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Developer at Genius</h5>John is a developer at Genius in New York. He's the author of several popular Ruby gems including ice_cube, easy_translate, and google_plus. He is also the creator of the open source pastebin software hastebin. He enjoys speaking and blogging about code, learning new things, and writing great software.<br><a class='twitter' href='http://twitter.com/seejohnrun' target='_blank'></a>">John Crepezzi</a>
              </h4>
              <time class="event-time">1:40<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                The fact that Ruby doesn't require developers to manage memory provides us a much less frustrating day-to-day. Still, there are scenarios where losing sight of the
              </span>
              <span class="last-words">
                memory implications of our patterns and logic, will get us into trouble! In this talk, I'll go over common (and less common) memory pitfalls, how they work, and how to fix them.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Netto Farah -->
        <li class="event" id="netto-farah">
          <div class="event-content">
            <h3 class="event-title">Building a Single Page App. One Page at a Time.</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-netto@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Brazilian Code Monkey at 8tracks</h5>Netto is the brazilian groove at 8tracks codebase. After a few years fighting architects, managers and some other mystical creatures of the enterprise world, he decided it was about time to write code for something he's really passionate about. The music beats from 8tracks come in handy. When not working on creative ways to integrate with the latest and greatest partner for 8tracks, Netto will be playing whack-a-mole with bugs on the website so you can always get the music magic.<br><a class='twitter' href='http://twitter.com/nettofarah' target='_blank'></a>">Netto Farah</a>
              </h4>
              <time class="event-time">2:10<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                It may sound simple to build a single page app these days with so many tools such as AngularJs, Knockout, Backbone, etc. But very little is said about transforming an
              </span>
              <span class="last-words">
                existing app into to a single page one.
                <br>
                <br>
                I'll talk about how our team of 4 built the next generation of 8tracks.com. And how we used Rails + Sinatra + BackboneJs and Mustache to solve problems such as routing, SEO, legacy urls, legacy browser support and some other challenges.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Fabiano Beselga -->
        <li class="event" id="fabiano-beselga">
          <div class="event-content">
            <h3 class="event-title">Clean Architecture</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-fabiano@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>CTO at Magnetis</h5>Fabiano is CTO at Magnetis. Previously was consultant at Codeminer42, technical leader at Hewlett-Packard (HP), system analyst at Spring Wireless and has worked as technical leader for some brazilian startups. MBA graduated in IT’s management with a business perspective to put the code in context of business and not the opposite. Working with Ruby since 2007, enthusiast that is always looking for ways to improve the architecture and design of the code.<br><a class='twitter' href='http://twitter.com/fbzga' target='_blank'></a>">Fabiano Beselga</a>
              </h4>
              <time class="event-time">2:50<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                Rails is an awesome framework to build something fast from scratch, but when the app starts to grow it becomes harder to maintain if you keep following only the folders that
              </span>
              <span class="last-words">
                Rails's initial configuration provides. There are a lot of approaches to get around it, Uncle Bob's Clean Architecture that separates the logic of the app from the delivery mechanism and from the database.
                <br>
                <br>
                I will show ways to apply clean architecture to big Rails project and what are the pros and cons of each approach.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Coffee Break -->
        <li class="event event-minor" id="coffee-break">
          <div class="event-content">
            <h3 class="event-title">Coffee Break</h3>
            <%= image_tag 'schedule-talk-coffee@2x.png', class: 'event-image' %>
            <time class="event-time">3:20<span>pm</span></time>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Carlos Antonio -->
        <li class="event" id="carlos-antonio">
          <div class="event-content">
            <h3 class="event-title">Contributing to Open Source: From the Beginning to Lessons Learned</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-carlos@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Software Developer and Rails Core Team Member</h5>Software Developer, Rails Core Team Member, Open Source Lover, Hacking Beautiful Code.<br><a class='twitter' href='http://twitter.com/cantoniodasilva' target='_blank'></a>">Carlos Antonio</a>
              </h4>
              <time class="event-time">3:50<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                Many people have difficulties to do a first contribution to open source, while others try to keep actively contributing. They do not feel confident enough, wondering
              </span>
              <span class="last-words">
                if are doing it right, if they are following "patterns", if they will make mistakes in public, and this list of questions just keeps growing. This talk will attend the problems I've faced in the last years contributing and maintaining open source projects. It will give tips on how to start and remain active in today's open source world, and preserve your sanity to avoid the burnout.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Andrew Rosa -->
        <li class="event" id="andrew-rosa">
          <div class="event-content">
            <h3 class="event-title">Property Testing on Rails</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-andrew@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Software Developer at Codeminer42</h5>Software Developer at Codeminer42. LISP connoisseur, enthusiast of polyglot environments and functional programming lover.<br><a class='twitter' href='http://twitter.com/_andrewhr' target='_blank'></a>">Andrew Rosa</a>
              </h4>
              <time class="event-time">4:20<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                The Ruby community is known by its strong culture of testing, but this is not an excuse to refuse alternative approaches. One of these are Property Testing. In those tools we do
              </span>
              <span class="last-words">
                not express examples, but the possible input formats; instead of specific outputs, characteristics that must remain true. In this way our tools are capable of exhaustively generate test cases and look for failures. In this talk we'll see how to create lean suites with wide coverage using Clojure's power to test a Rails application.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Thiago Scalone -->
        <li class="event" id="thiago-scalone">
          <div class="event-content">
            <h3 class="event-title">MRuby: Change the Embedded Development Way</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-thiago@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Lead Software Engineer at CloudWalk</h5>Ruby lover and developer for seven years, participant and speaker at Guru-SP, TDC, Ruby + Rails no Mundo Real, Ruby Conf BR, Ruby Kaigi, and many other communities and events. Worked as developer for 4 years in São Paulo, and 3 years ago started as embedded C developer.<br><a class='twitter' href='http://twitter.com/scalone' target='_blank'></a>">Thiago Scalone</a>
              </h4>
              <time class="event-time">4:50<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                MRuby (Minimalistc Ruby) is a new Ruby implementation made with resources saving in mind. MRuby is a perfect fit for embedded systems world and for limited responsibility
              </span>
              <span class="last-words">
                applications. Let's understand the state of embedded system development today from the payment devices perspective. In the talk we'll learn how beautiful and useful MRuby is on a device-browser integration or in command line tool.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Marcos Matos -->
        <li class="event" id="marcos-matos">
          <div class="event-content">
            <h3 class="event-title">Micro Problems!</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-marcos@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Developer at ThoughtWorks</h5>Marcos Matos is a programming lover! He likes to discuss any IT topic, study strange languages and drink good beer. A guy from Minas Gerais who lives in Porto Alegre where he works at ThoughtWorks.<br><a class='twitter' href='http://twitter.com/marcosccm' target='_blank'></a>">Marcos Matos</a>
              </h4>
              <time class="event-time">5:20<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                Micro services are trend. It's a magic cure for complex projects. The problem is in the details! Like every trend topic, the problems and complications around this style
              </span>
              <span class="last-words">
                are not discussed, topics like performance, scalability, integration tests and infrastructure. At this anti-talk we are going to show the traps lurking around micro services' architecture and how to avoid them.
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Coffee Break -->
        <li class="event event-minor" id="coffee-break">
          <div class="event-content">
            <h3 class="event-title">Coffee Break</h3>
            <%= image_tag 'schedule-talk-coffee@2x.png', class: 'event-image' %>
            <time class="event-time">5:50<span>pm</span></time>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- PJ Hagerty -->
        <li class="event" id="pj-hagerty">
          <div class="event-content">
            <h3 class="event-title">Urban Legends: What You Code Makes You Who You Are</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-pj@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Community Team Lead at Engine Yard</h5>A Ruby developer for the last several years, PJ currently works at Engine Yard as the Community Team Lead. Additionally, he organizes the Western New York Ruby Brigade. Traveling to conferences and Ruby meet ups around the US and Canada, PJ likes to spread the word on the importance of community and coding, stressing the importance of outreach and focusing on the human side of being a coder.<br><a class='twitter' href='http://twitter.com/aspleenic' target='_blank'></a>">PJ Hagerty</a>
              </h4>
              <time class="event-time">6:20<span>pm</span></time>
            </div>
            <p class="event-description">
              <span class="first-words">
                If you were a carpenter, would your skills at building be more important than the tools you use to build? Skills, right? Tools are just a means to an end. So why do
              </span>
              <span class="last-words">
                 developers think the language they use defines the problems they solve?
              </span>
              <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
            </p>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Avdi Grimm -->
        <li class="event" id="avdi-grimm">
          <div class="event-content">
            <h3 class="event-title">Keynote: The Soul of Software</h3>
            <div class="event-header">
              <%= image_tag 'event-speaker-avdi@2x.png', class: 'event-image' %>
              <h4 class="event-author">
                <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-content="<h5>Head chef at RubyTapas.com, author of Confident Ruby and a Ruby Rogue</h5><a class='twitter' href='http://twitter.com/avdi' target='_blank'></a><a class='web' href='http://rubytapas.com' target='_blank'></a>">Avdi Grimm</a>
              </h4>
              <time class="event-time">6:50<span>pm</span></time>
            </div>
            <span class="time-line"></span>
          </div>
        </li>

        <!-- Transportation -->
        <li class="event event-minor transportation" id="recife-porto">
          <div class="event-content">
            <h3 class="event-title">Transfer from Porto de Galinhas<span> to Recife</span></h3>
            <%= image_tag 'schedule-talk-transportation@2x.png', class: 'event-image' %>
            <a class="event-local" href="https://goo.gl/maps/Dhjuz" title="View it in Google Maps." target="_blank">Leaving from Summerville</a><time class="event-time">8<span>pm</span></time><br>
            <a class="event-local" href="https://goo.gl/maps/Hf8My" title="View it in Google Maps." target="_blank">Arriving at Recife Int. Airport</a><time class="event-time">9:30<span>pm</span></time><br>
            <a class="event-local" href="https://goo.gl/maps/C6Zno" title="View it in Google Maps." target="_blank">Arriving at Derby Square</a><time class="event-time">10<span>pm</span></time><br>
            <span class="time-line"></span>
            <a class="event-local" href="https://goo.gl/maps/LiRCq" title="View it in Google Maps." target="_blank">Passing through Porto de Galinhas</a><time class="event-time long">8:10<span>pm</span> &amp; 9:40<span>pm</span></time>
          </div>
        </li>

      </ol>
    </section>
  </article>
</main>

<%= javascript_include_tag 'schedule' %>
