<footer class="footer">
  <div class="container">
    <div class="brands row">
      <div class="gold">
        <h4 class="footer-title"><%= t 'footer.gold_sponsors' %></h4>
        <div class="footer-brands">
          <a class="nic" href="<%= t 'footer.nic_url' %>" target="_blank">
            NIC.br — Núcleo de Informação e Coordenação do Ponto BR
          </a>
          <a class="mandrill" href="http://mandrill.com" target="_blank">
            Mandrill
          </a>
          <a class="engine-yard" href="https://www.engineyard.com/" target="_blank">
            Engine Yard
          </a>
          <a class="tw" href="http://www.thoughtworks.com/" target="_blank">
            ThoughtWorks
          </a>
        </div>
      </div>
      <div class="silver">
        <h4 class="footer-title"><%= t 'footer.silver_sponsors' %></h4>
        <div class="footer-brands">
          <a class="github" href="https://github.com/" target="_blank">
            GitHub
          </a>
          <a class="tempest" href="<%= t 'footer.tempest_url' %>" target="_blank">
            Tempest Security Intelligence
          </a>
          <a class="cers" href="http://www.cers.com.br/" target="_blank">
            CERS Cursos Online
          </a>
          <a class="genius" href="http://genius.com/" target="_blank">
            Genius
          </a>
          <a class="livingsocial" href="https://www.livingsocial.com/" target="_blank">
            LivingSocial
          </a>
          <a class="aws" href="http://aws.amazon.com/" target="_blank">
            Amazon Web Services
          </a>
        </div>
      </div>
    </div>
    <div class="brands row">
      <div class="organizers">
        <h4 class="footer-title"><%= t 'footer.organizers' %></h4>
        <div class="footer-brands">
          <a class="guava-software" href="http://guava.com.br/<%= I18n.locale %>/" target="_blank">
            Guava
          </a>
          <a class="eloquent-studio" href="https://pt-br.facebook.com/geteloquent" target="_blank">
            Eloquent Studio
          </a>
          <a class="frevo-on-rails" href="http://frevoonrails.com.br/" target="_blank">
            Frevo on Rails
          </a>
        </div>
      </div>
      <div class="advisory">
        <h4 class="footer-title"><%= t 'footer.advisory_support' %></h4>
        <div class="footer-brands">
          <a class="ruby-central-inc" href="http://rubycentral.org/" target="_blank">
            Ruby Central Inc.
          </a>
          <a class="impact-hub" href="http://recife.impacthub.net" target="_blank">
            Impact Hub Recife
          </a>
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="previous-editions row">
        <div class="column">
          <h4 class="footer-title"><%= t 'footer.previous_editions' %>:</h4>
        </div>
        <div class="column">
          <p>
            <a href='/2012/'><strong>2012</strong></a> <span>•</span>
            <a href='/2013/'><strong>2013</strong></a> <span>•</span>
            <a href='/2014/<%= I18n.locale %>/'><strong>2014</strong></a>
          </p>
        </div>
      </div>
      <hr>
      <p>
        <% link_to "/#{I18n.locale}/code-of-conduct.html" do %>
          <strong><%= t 'footer.code_of_conduct' %></strong>
        <% end %>
        <br class='visible-xs-block'><span class='hidden-xs'>•</span>
        <% link_to "/#{I18n.locale}/colophon.html" do %>
          <strong><%= t 'footer.colophon' %></strong>
        <% end %>
        <br class='visible-xs-block'><span class='hidden-xs'>•</span>
        <% link_to '/files/mediakit.zip' do %>
          <strong><%= t 'footer.media_kit' %></strong>
        <% end %>
        <br class='visible-xs-block'><span class='hidden-xs'>•</span>
        <% link_to '/files/prospectus.pdf' do %>
          <strong><%= t 'footer.sponsor_prospectus' %></strong>
        <% end %>
        <br class="guava-signature">
        <%= t 'footer.signature' %> <a href="http://guava.com.br/<%= I18n.locale %>/" target="_blank"><strong>Guava Software</strong></a>
    </div>
  </div>
  <div class="coconut"></div>
  <div class="sea"></div>
  <div class="wave"></div>
</footer>
