---
title: Tropical Ruby 2015 — Patrocinadores — 5 a 8 de março em Porto de Galinhas, Brasil
---

<main class="sponsors sponsors-area">
  <h1>Patrocinadores</h1>
  <a class="prospectus" href="/files/prospectus.pdf" target="_blank" title="Ajude a gente a ajudar nossa comunidade: patrocine a conferência!"><span class="icon-medium icon-fist-bump"></span>Quer patrocinar?</a>

  <section class="gold row">
    <header>
      <h2>Ouro</h2>
    </header>

    <div class="sponsors-brand nic">
      <a href="http://www.nic.br/" target="_blank">
        NIC.br — Núcleo de Informação e Coordenação do Ponto BR
        <%= image_tag 'sponsor-gold-nic@2x.png', class: 'sponsors-image' %>
      </a>
      <p class="blurb">
        O Núcleo de Informação e Coordenação do Ponto BR (<a href="http://www.nic.br/index.shtml" target="_blank">NIC.br</a>) é uma entidade civil, sem fins lucrativos, que implementa as decisões e projetos do Comitê Gestor da Internet no Brasil (<a href="http://cgi.br" target="_blank">CGI.br</a>). São atividades do NIC.br coordenar o registro de nomes de domínio (<a href="http://registro.br" target="_blank">Registro.br</a>), estudar, responder e tratar incidentes de segurança no Brasil (<a href="http://www.cert.br" target="_blank">CERT.br</a>), estudar e pesquisar tecnologias de redes e operações (<a href="http://ceptro.br" target="_blank">Ceptro.br</a>), produzir indicadores sobre TICs (<a href="http://cetic.br" target="_blank">Cetic.br</a>) e abrigar o escritório do W3C no Brasil.
      </p>
    </div>

    <div class="sponsors-brand mandrill">
      <a href="http://mandrill.com" target="_blank">
        Mandrill
        <%= image_tag 'sponsor-gold-mandrill@2x.png', class: 'sponsors-image' %>
      </a>
      <p class="blurb">
        Use o Mandrill para enviar e-mails automáticos, como redefinições de senha e mensagens de boas-vindas, bem como e-mails de marketing e newsletters personalizadas. O Mandrill é rápido de configurar, fácil de usar e ridiculamente estável. Ele foi feito para desenvolvedores que amam documentação, integrações, taxas elevadas de entrega, webhooks e analytics. O Mandrill tem uma interface bonita e é o único serviço de e-mail com um aplicativo móvel que permite monitorar e solucionar problemas de onde você estiver.
      </p>
    </div>

    <div class="sponsors-brand engine-yard">
      <a href="https://www.engineyard.com/" target="_blank">
        Engine Yard
        <%= image_tag 'sponsor-gold-engineyard@2x.png', class: 'sponsors-image' %>
      </a>
      <p class="blurb">
        A Engine Yard, empresa líder em hospedagem Rails, oferece aos seus clientes paz de espírito, suporte e expertise na implantação de suas aplicações Ruby ou Rails na nuvem. A empresa oferece uma stack testada e aprovada para a implantação de aplicações, seja internamente em sua própria estrutura ou externamente em plataformas como a Amazon Web Services. Ao longo de sua história, a Engine Yard tem contratado especialistas e incentivado projetos de código aberto, incluindo <a href="http://www.rubyonrails.org" target="_blank">Rails</a> e <a href="http://www.rubini.us" target="_blank">Rubinius</a>.
      </p>
    </div>

    <div class="sponsors-brand thoughtworks">
      <a href="http://www.thoughtworks.com/pt/" target="_blank">
        ThoughtWorks
        <%= image_tag 'sponsor-gold-thoughtworks@2x.png', class: 'sponsors-image' %>
      </a>
      <p class="blurb">
        A Thoughtworks é uma consultoria global, empresa de produtos de software e uma comunidade de pessoas apaixonadas cujo propósito é revolucionar o desenvolvimento e criação de software, promovendo impacto social positivo nos países e comunidades onde atua. Com 20 anos de atuação no mercado, a ThoughtWorks tem mais de 3000 funcionários em 13 países atendendo clientes em escritórios na África do Sul, Alemanha, Austrália, Brasil, Canadá, China, Estados Unidos, Equador, Índia, Inglaterra, Singapura, Turquia e Uganda.
      </p>
    </div>

  </section>

  <section class="silver row">
    <header>
      <h2>Prata</h2>
    </header>

    <div class="sponsors-brand github">
      <a href="https://github.com/" target="_blank">
        GitHub
        <%= image_tag 'sponsor-silver-github@2x.png', class: 'sponsors-image' %>
      </a>
      <p class="blurb">
        O GitHub é o melhor lugar para compartilhar código com amigos, colegas de trabalho e até mesmo estranhos. Mais de oito milhões de pessoas usam o GitHub para construir coisas incríveis juntos. Com os recursos de colaboração do <a href="https://github.com" target="_blank">GitHub.com</a>, nossos aplicativos desktop, e o <a href="https://enterprise.github.com/" target="_blank">GitHub Enterprise</a>, nunca foi tão fácil de escrever código melhor, mais rápido.
      </p>
    </div>
    <div class="sponsors-brand tempest">
      <a href="http://tempest.com.br/" target="_blank">
        Tempest — Security Intelligence
        <%= image_tag 'sponsor-silver-tempest@2x.png', class: 'sponsors-image' %>
      </a>
      <p class="blurb">
        A Tempest Security Intelligence é uma empresa global de consultoria em segurança cibernética, que entrega serviços de qualidade excepcional aos seus clientes desde 2000. A Tempest trabalha com a combinação certa de serviços gerenciados de segurança 24/7, projetos de testes de segurança, projetos de consultoria sob medida e soluções de threat intelligence.
      </p>
    </div>
    <div class="sponsors-brand cers">
      <a href="http://www.cers.com.br/" target="_blank">
        CERS Cursos Online
        <%= image_tag 'sponsor-silver-cers@2x.png', class: 'sponsors-image' %>
      </a>
      <p class="blurb">
        Qualidade, Interatividade e Inovação: essas três palavras definem o CERS Cursos Online, a maior instituição de Ensino a Distância do Brasil. Voltado para a preparação para concursos e Exame de Ordem, o CERS utiliza uma moderna tecnologia em transmissão de vídeos, que garante aos alunos um aprendizado eficiente e prazeroso.
      </p>
    </div>
    <div class="sponsors-brand genius">
      <a href="http://genius.com/" target="_blank">
        Genius
        <%= image_tag 'sponsor-silver-genius@2x.png', class: 'sponsors-image' %>
      </a>
      <p class="blurb">
        Genius é um projeto de conhecimento online cujo objetivo é anotar o mundo. O que começou como um site para decodificar letras de rap e evoluiu para banco de dados mais abrangente da Internet do conhecimento musical tornou-se uma plataforma para adicionar seus pensamentos e comentários em qualquer página na Internet.
      </p>
    </div>
    <div class="sponsors-brand livingsocial">
      <a href="https://www.livingsocial.com/" target="_blank">
        Living Social
        <%= image_tag 'sponsor-silver-livingsocial@2x.png', class: 'sponsors-image' %>
      </a>
      <p class="blurb">
        A LivingSocial é o mercado local para comprar e compartilhar as melhores coisas para fazer na sua cidade. Com ofertas únicas e diversas a cada dia, inspiramos nossos clientes a descobrir tudo, de descansos de fins de semana até viagens mais longas, passando por eventos únicos, experiências em spas, jantares luxuosos e mais.
      </p>
    </div>
    <div class="sponsors-brand aws">
      <a href="http://aws.amazon.com/" target="_blank">
        Amazon Web Services
        <%= image_tag 'sponsor-silver-aws@2x.png', class: 'sponsors-image' %>
      </a>
      <p class="blurb">
        Lançada em Julho de 2002, a plataforma da Amazon Web Services hospeda tecnologia e dados de produtos da Amazon e seus afiliados, permitindo que desenvolvedores construam aplicações inovadoras por sua própria conta. Mais de 150.000 desenvolvedores usam a Amazon Web Services desde sua concepção.
      </p>
    </div>

  </section>

  <section class="bronze row">
    <header>
      <h2>Bronze</h2>
    </header>

    <div class="sponsors-brand elife">
      <a href="http://www.elife.com.br" target="_blank">
        E.life
        <%= image_tag 'sponsor-bronze-elife@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand in-loco">
      <a href="http://www.inlocomedia.com" target="_blank">
        In Loco Media
        <%= image_tag 'sponsor-bronze-inlocomedia@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand toptal">
      <a href="http://www.toptal.com" target="_blank">
      <%= image_tag 'sponsor-bronze-toptal@2x.png', class: 'sponsors-image' %>
        In Loco Media
      </a>
    </div>
    <div class="sponsors-brand getup">
      <a href="https://getupcloud.com/?utm_source=tropicalruby&utm_medium=site&utm_campaign=TropicalRuby" target="_blank">
        Getup
        <%= image_tag 'sponsor-bronze-getup@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand la">
      <a href="http://www.latecnologiaemsaude.com.br" target="_blank">
        L.A. Tecnologia em Saúde
        <%= image_tag 'sponsor-bronze-la@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand mesa">
      <a href="http://www.mesainc.com.br" target="_blank">
        Mesa
        <%= image_tag 'sponsor-bronze-mesa@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand mabuya">
      <a href="http://www.axon.com.br/portal/" target="_blank">
        Mabuya Software
        <%= image_tag 'sponsor-bronze-mabuya@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand estuario">
      <a href="http://www.estuarioti.com.br/" target="_blank">
        Estuário
        <%= image_tag 'sponsor-bronze-estuario@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand chargify">
      <a href="https://www.chargify.com" target="_blank">
        Chargify
        <%= image_tag 'sponsor-bronze-chargify@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand cloudwalk">
      <a href="https://www.cloudwalk.io" target="_blank">
        Cloudwalk
        <%= image_tag 'sponsor-bronze-cloudwalk@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand dnsimple">
      <a href="https://dnsimple.com" target="_blank">
        DNSimple
        <%= image_tag 'sponsor-bronze-dnsimple@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand zertico">
      <a href="http://www.zertico.com/br/" target="_blank">
        Zertico
        <%= image_tag 'sponsor-bronze-zertico@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand codeminer">
      <a href="http://www.codeminer42.com/" target="_blank">
        Codeminer 42
        <%= image_tag 'sponsor-bronze-codeminer@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand impact-hub">
      <a href="http://recife.impacthub.net" target="_blank">
        Impact Hub Recife
        <%= image_tag 'sponsor-bronze-impacthub@2x.png', class: 'sponsors-image' %>
      </a>
    </div>

  </section>

  <section class="organizers row">
    <header>
      <h2>Organizadores</h2>
    </header>

    <div class="sponsors-brand guava-software">
      <a href="http://guava.com.br/pt/" target="_blank">
        Guava Software
        <%= image_tag 'sponsor-organizer-guava@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand eloquent-studio">
      <a href="https://pt-br.facebook.com/geteloquent" target="_blank">
        Eloquent Studio
        <%= image_tag 'sponsor-organizer-eloquent@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand frevo-on-rails">
      <a href="http://frevoonrails.com.br/" target="_blank">
        Frevo on Rails
        <%= image_tag 'sponsor-organizer-for@2x.png', class: 'sponsors-image' %>
      </a>
    </div>

  </section>

  <section class="supporters row">
    <header>
      <h2>Apoio</h2>
    </header>

    <div class="supporters-special row">
      <div class="sponsors-brand ruby-central">
        <h4>Assessoria</h4>
        <a href="http://rubycentral.org/" target="_blank">
          Ruby Central
          <%= image_tag 'sponsor-support-rubycentral@2x.png', class: 'sponsors-image' %>
        </a>
      </div>
      <div class="sponsors-brand impact-hub-advisory">
        <h4>Assessoria</h4>
        <a href="http://recife.impacthub.net" target="_blank">
          Impact Hub Recife
          <%= image_tag 'sponsor-support-impacthub@2x.png', class: 'sponsors-image' %>
        </a>
      </div>
      <div class="sponsors-brand casaeventos">
        <h4>Produção Executiva</h4>
        <a href="http://www.casaeventosempresariais.com.br/" target="_blank">
          Casa Eventos Empresariais
          <%= image_tag 'sponsor-support-casaeventos@2x.png', class: 'sponsors-image' %>
        </a>
      </div>
      <div class="sponsors-brand pontestur">
        <h4>Agência de Viagens</h4>
        <a href="http://www.pontestur.com.br/" target="_blank">
          PontesTur
          <%= image_tag 'sponsor-support-pontestur@2x.png', class: 'sponsors-image' %>
        </a>
      </div>
    </div>
    <div class="sponsors-brand eventick">
      <a href="http://www.eventick.com.br/" target="_blank">
        Eventick
        <%= image_tag 'sponsor-support-eventick@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand portomidia">
      <a href="http://www.portomidia.org/" target="_blank">
        Portomídia
        <%= image_tag 'sponsor-support-portomidia@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand portodigital">
      <a href="http://www.portodigital.org/" target="_blank">
        Porto Digital
        <%= image_tag 'sponsor-support-portodigital@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand plataformatec">
      <a href="http://plataformatec.com.br/" target="_blank">
        Plataformatec
        <%= image_tag 'sponsor-support-plataformatec@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand citi">
      <a href="http://citi.org.br/" target="_blank">
        Citi
        <%= image_tag 'sponsor-support-citi@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand devbeers">
      <a href="http://www.devbeers.io/" target="_blank">
        Devbeers
        <%= image_tag 'sponsor-support-devbeers@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand novatec">
      <a href="http://novatec.com.br/" target="_blank">
        Novatec
        <%= image_tag 'sponsor-support-novatec@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand cvb">
      <a href="http://www.recifecvb.com.br/" target="_blank">
        Recife Convention &amp; Visitors Bureau
        <%= image_tag 'sponsor-support-cvb@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand say2me">
      <a href="http://www.say2me.com.br/" target="_blank">
        Say2me
        <%= image_tag 'sponsor-support-say2me@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand twitter">
      <a href="http://twitter.com/" target="_blank">
        Twitter
        <%= image_tag 'sponsor-support-twitter@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand locaweb">
      <a href="http://www.locaweb.com.br/default.html" target="_blank">
        Locaweb
        <%= image_tag 'sponsor-support-locaweb@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand jetbrains">
      <a href="https://www.jetbrains.com/ruby/" target="_blank">
        RubyMine by JetBrains
        <%= image_tag 'sponsor-support-jetbrains@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand compose">
      <a href="https://www.compose.io/" target="_blank">
        Compose
        <%= image_tag 'sponsor-support-compose@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand gravento">
      <a href="https://gravento.com.br/" target="_blank">
        Gravento
        <%= image_tag 'sponsor-support-gravento@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
  </section>

  <section class="ambassadors row">
    <header>
      <h2>Embaixa<span>dores</span></h2>
    </header>

    <div class="ambassador bruno">
      <a href="https://twitter.com/garucosta" target="_blank">
        <%= image_tag 'sponsor-ambass-bruno@2x.png', class: 'ambassador-photo' %>
        <strong class="ambassador-name">Bruno Henrique</strong>
        <p class="ambassador-location">Rio Grande do Norte</p>
        <p class="ambassador-handler">@garucosta</p>
      </a>
    </div>
    <div class="ambassador cirdes">
      <a href="https://twitter.com/cirdesbhf" target="_blank">
        <%= image_tag 'sponsor-ambass-cirdes@2x.png', class: 'ambassador-photo' %>
        <strong class="ambassador-name">Cirdes Henrique</strong>
        <p class="ambassador-location">São Paulo</p>
        <p class="ambassador-handler">@cirdesbhf</p>
      </a>
    </div>
    <div class="ambassador joao">
      <a href="https://twitter.com/joaomdmoura" target="_blank">
        <%= image_tag 'sponsor-ambass-joao@2x.png', class: 'ambassador-photo' %>
        <strong class="ambassador-name">João M.D. Moura</strong>
        <p class="ambassador-location">São Paulo</p>
        <p class="ambassador-handler">@joaomdmoura</p>
      </a>
    </div>
    <div class="ambassador juarez">
      <a href="https://twitter.com/juarezpaf" target="_blank">
        <%= image_tag 'sponsor-ambass-juarez@2x.png', class: 'ambassador-photo' %>
        <strong class="ambassador-name">Juarez P.A. Filho</strong>
        <p class="ambassador-location">Alagoas</p>
        <p class="ambassador-handler">@juarezpaf</p>
      </a>
    </div>
    <div class="ambassador lucas">
      <a href="https://twitter.com/nevemartins" target="_blank">
        <%= image_tag 'sponsor-ambass-lucas@2x.png', class: 'ambassador-photo' %>
        <strong class="ambassador-name">Lucas Martins</strong>
        <p class="ambassador-location">Santa Catarina</p>
        <p class="ambassador-handler">@nevemartins</p>
      </a>
    </div>
    <div class="ambassador renato">
      <a href="https://twitter.com/renatolz" target="_blank">
        <%= image_tag 'sponsor-ambass-renato@2x.png', class: 'ambassador-photo' %>
        <strong class="ambassador-name">Renato Carvalho</strong>
        <p class="ambassador-location">Distrito Federal</p>
        <p class="ambassador-handler">@renatolz</p>
      </a>
    </div>
    <div class="ambassador thiago">
      <a href="https://twitter.com/thiagogsr" target="_blank">
        <%= image_tag 'sponsor-ambass-thiago@2x.png', class: 'ambassador-photo' %>
        <strong class="ambassador-name">Thiago Guimarães</strong>
        <p class="ambassador-location">Sergipe</p>
        <p class="ambassador-handler">@thiagogsr</p>
      </a>
    </div>
  </section>
</main>
