---
title: Tropical Ruby 2015 — Videos — March 5th to 8th at Porto de Galinhas, Brazil
---

<main class="videos">
  <h1>Watch the Talks!</h1>

  <section class="videos-area">
    <header>
      <h2>Videos</h2>
      <div class="video-subtitle">
        <small>
          More videos coming on the next Friday, <strong>June 12th</strong>. <span>Stay tuned!</span>
        </small>
      </div>
    </header>
    <div class="row">

      <!-- Avdi Grimm -->
      <article class="video-content" id="avdi-grimm">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IgbHzFb1hGw?rel=0&amp;showinfo=0" allowfullscreen></iframe>
        </div>
        <h3>Keynote: The Soul of Software</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-avdi@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Head chef at RubyTapas.com, author of Confident Ruby and a Ruby Rogue</h5><a class='twitter' href='http://twitter.com/avdi' target='_blank'></a><a class='web' href='http://rubytapas.com' target='_blank'></a>">Avdi Grimm</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 7<sup>th</sup></time>
            <br>
            <small class="video-language">In English</small>
          </div>
        </div>
      </article>

      <!-- Rodrigo Franco -->
      <article class="video-content" id="rodrigo-franco">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_N7hQOi9Zww?rel=0&amp;showinfo=0" allowfullscreen></iframe>
        </div>
        <h3>Keynote: Better Programmers</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-rodrigo@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Application Engineer at LivingSocial</h5><a class='github' href='https://github.com/caffo' target='_blank'></a><a class='twitter' href='http://twitter.com/caffo' target='_blank'></a>">Rodrigo Franco</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 7<sup>th</sup></time>
            <br>
            <small class="video-language">In Portuguese</small>
          </div>
        </div>
      </article>

    </div>
    <div class="row">

      <!-- Christopher Rigor -->
      <article class="video-content" id="christopher-rigor">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QUV1k134YB4?rel=0&amp;showinfo=0" allowfullscreen></iframe>
        </div>
        <h3>Cryptography for Rails Developers</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-christopher@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Support Team Lead at Engine Yard</h5>Christopher Rigor has degrees in Computer Science and Mathematics. He is a Rails developer and system administrator and currently the Support team lead at Engine Yard in Asia Pacific.<br><a class='twitter' href='http://twitter.com/crigor' target='_blank'></a>">Christopher Rigor</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 6<sup>th</sup></time>
            <br>
            <small class="video-language">In English</small>
          </div>
        </div>
      </article>

      <!-- Alex Coles -->
      <article class="video-content" id="alex-coles">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zCXDzpbq484?rel=0&amp;showinfo=0" allowfullscreen></iframe>
        </div>
        <h3>Frontend Choices</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-alex@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Software Engineer and Consultant at Finn GmbH</h5>Alex Coles unabashedly wears the hat of ‘generalist’. He is active in the Ruby community, having founded the annual eurucamp camp/conference and JRubyConf EU. He has also contributed extensively to many open-source projects including OpenProject, RefineryCMS and DataMapper.<br><a class='github' href='https://github.com/myabc' target='_blank'></a><a class='twitter' href='http://twitter.com/myabc' target='_blank'></a><a class='web' href='http://www.linkedin.com/in/alexbcoles' target='_blank'></a>">Alex Coles</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 6<sup>th</sup></time>
            <br>
            <small class="video-language">In English</small>
          </div>
        </div>
      </article>

    </div>
    <div class="row">

      <!-- Rafael França -->
      <article class="video-content" id="rafael-frança">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item empty">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rZW0MNcj_N4?rel=0&amp;showinfo=0" allowfullscreen></iframe>
          </div>
        </div>
        <h3>Object Oriented Design, Rails and Why You Should Think Twice Before Leaving the Rails Way</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-rafael-franca@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Software Developer at Plataformatec and Rails Core Team Member</h5>Rafael França is a software developer from Plataformatec and a Rails Core Team member. He contributes to several open source projects, notably Simple Form, of which he's a maintainer.<br><a class='twitter' href='http://twitter.com/rafaelfranca' target='_blank'></a>">Rafael França</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 6<sup>th</sup></time>
            <br>
            <small class="video-language">In Portuguese</small>
          </div>
        </div>
      </article>

      <!-- Carlos Antonio -->
      <article class="video-content" id="carlos-antonio">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item empty">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nzUrTVvNFcw?rel=0&amp;showinfo=0" allowfullscreen></iframe>
          </div>
        </div>
        <h3>Contributing to Open Source: From the Beginning to Lessons Learned</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-carlos@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Software Developer and Rails Core Team Member</h5>Software Developer, Rails Core Team Member, Open Source Lover, Hacking Beautiful Code.<br><a class='twitter' href='http://twitter.com/cantoniodasilva' target='_blank'></a>">Carlos Antonio</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 7<sup>th</sup></time>
            <br>
            <small class="video-language">In Portuguese</small>
          </div>
        </div>
      </article>

    </div>
    <div class="row">

      <!-- Ricardo Nacif -->
      <article class="video-content" id="ricardo-nacif">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item empty">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dem6OQaUliA?rel=0&amp;showinfo=0" allowfullscreen></iframe>
          </div>
        </div>
        <h3>Writing Your Own DSL Using Ruby</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-ricardo@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Automation QA Engineer at Avenue Code</h5>Ricardo Nacif started playing with Ruby 3 years ago, and never let it go. Fascinated with it's simplicity, he works now as an Automation QA Engineer for Avenue Code mainly with Rspec and Watir-webdriver. He also works as a freelancer, doing jobs for more than 5 different countries, most of them using Rails. His spare time is spent exploring and contributing to some Ruby Gems, and also listening (and playing) Rock'n'Roll.<br><a class='web' href='https://www.linkedin.com/in/ricardonacif' target='_blank'></a>">Ricardo Nacif</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 6<sup>th</sup></time>
            <br>
            <small class="video-language">In Portuguese</small>
          </div>
        </div>
      </article>

      <!-- Marcelo de Polli -->
      <article class="video-content" id="marcelo-de-polli">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item empty">
            <%= image_tag 'event-video-placeholder@2x.png' %>
            <small>Available soon</small>
          </div>
        </div>
        <h3>POROs to the Rescue</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-marcelo@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Software Developer at Chargify</h5>Marcelo is a software developer at Chargify, where he hacks into a codebase that serves over 1,500 companies and millions of individual customers. A mixed creature of design and technology, he has spent as many years thinking up user interfaces as he has writing code.<br><a class='twitter' href='http://twitter.com/mdepolli' target='_blank'></a>">Marcelo De Polli</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 6<sup>th</sup></time>
            <br>
            <small class="video-language">In Portuguese</small>
          </div>
        </div>
      </article>

    </div>
    <div class="row">

      <!-- Lucas Allan -->
      <article class="video-content" id="lucas-allan">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item empty">
            <%= image_tag 'event-video-placeholder@2x.png' %>
            <small>Available soon</small>
          </div>
        </div>
        <h3>Concurrent-Ruby: Ruby in the Concurrent World</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-lucas@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Software Engineer at Mogo</h5>Lucas Allan has worked with software development for 7 years and currently he is Software Engineer at Mogo in Vancouver, Canada. In the last 6 years, he has worked mostly with Ruby, but currently he also works with Clojure and Scala. In his spare time he likes to contribute with some open-source projects like JRuby and concurrent-ruby and he is also the creator of LuaTruffle (version of Lua implemented on top of the JVM - still in development).<br><a class='github' href='https://github.com/lucasallan' target='_blank'></a><a class='twitter' href='http://twitter.com/lucasallan' target='_blank'></a>">Lucas Allan</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 6<sup>th</sup></time>
            <br>
            <small class="video-language">In Portuguese</small>
          </div>
        </div>
      </article>

      <!-- Marcos Matos -->
      <article class="video-content" id="marcos-mattos">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item empty">
            <%= image_tag 'event-video-placeholder@2x.png' %>
            <small>Available soon</small>
          </div>
        </div>
        <h3>Micro Problems!</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-marcos@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Developer at ThoughtWorks</h5>Marcos Matos is a programming lover! He likes to discuss any IT topic, study strange languages and drink good beer. A guy from Minas Gerais who lives in Porto Alegre where he works at ThoughtWorks.<br><a class='twitter' href='http://twitter.com/marcosccm' target='_blank'></a>">Marcos Matos</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 7<sup>th</sup></time>
            <br>
            <small class="video-language">In Portuguese</small>
          </div>
        </div>
      </article>

    </div>
    <div class="row">

      <!-- Netto Farah -->
      <article class="video-content" id="netto-farah">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item empty">
            <%= image_tag 'event-video-placeholder@2x.png' %>
            <small>Available soon</small>
          </div>
        </div>
        <h3>Building a Single Page App. One Page at a Time.</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-netto@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Brazilian Code Monkey at 8tracks</h5>Netto is the brazilian groove at 8tracks codebase. After a few years fighting architects, managers and some other mystical creatures of the enterprise world, he decided it was about time to write code for something he's really passionate about. The music beats from 8tracks come in handy. When not working on creative ways to integrate with the latest and greatest partner for 8tracks, Netto will be playing whack-a-mole with bugs on the website so you can always get the music magic.<br><a class='twitter' href='http://twitter.com/nettofarah' target='_blank'></a>">Netto Farah</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 7<sup>th</sup></time>
            <br>
            <small class="video-language">In Portuguese</small>
          </div>
        </div>
      </article>

      <!-- Fabiano Beselga -->
      <article class="video-content" id="fabiano-beselga">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item empty">
            <%= image_tag 'event-video-placeholder@2x.png' %>
            <small>Available soon</small>
          </div>
        </div>
        <h3>Clean Architecture</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-fabiano@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>CTO at Magnetis</h5>Fabiano is CTO at Magnetis. Previously was consultant at Codeminer42, technical leader at Hewlett-Packard (HP), system analyst at Spring Wireless and has worked as technical leader for some brazilian startups. MBA graduated in IT’s management with a business perspective to put the code in context of business and not the opposite. Working with Ruby since 2007, enthusiast that is always looking for ways to improve the architecture and design of the code.<br><a class='twitter' href='http://twitter.com/fbzga' target='_blank'></a>">Fabiano Beselga</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 7<sup>th</sup></time>
            <br>
            <small class="video-language">In Portuguese</small>
          </div>
        </div>
      </article>

    </div>
    <div class="row">

      <!-- Andrew Rosa -->
      <article class="video-content" id="andrew-rosa">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item empty">
            <%= image_tag 'event-video-placeholder@2x.png' %>
            <small>Available soon</small>
          </div>
        </div>
        <h3>Property Testing on Rails</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-andrew@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Software Developer at Codeminer42</h5>Software Developer at Codeminer42. LISP connoisseur, enthusiast of polyglot environments and functional programming lover.<br><a class='twitter' href='http://twitter.com/_andrewhr' target='_blank'></a>">Andrew Rosa</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 7<sup>th</sup></time>
            <br>
            <small class="video-language">In Portuguese</small>
          </div>
        </div>
      </article>

      <!-- Thiago Scalone -->
      <article class="video-content" id="thiago-scalone">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item empty">
            <%= image_tag 'event-video-placeholder@2x.png' %>
            <small>Available soon</small>
          </div>
        </div>
        <h3>MRuby: Change the Embedded Development Way</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-thiago@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Lead Software Engineer at CloudWalk</h5>Ruby lover and developer for seven years, participant and speaker at Guru-SP, TDC, Ruby + Rails no Mundo Real, Ruby Conf BR, Ruby Kaigi, and many other communities and events. Worked as developer for 4 years in São Paulo, and 3 years ago started as embedded C developer.<br><a class='twitter' href='http://twitter.com/scalone' target='_blank'></a>">Thiago Scalone</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 7<sup>th</sup></time>
            <br>
            <small class="video-language">In Portuguese</small>
          </div>
        </div>
      </article>

    </div>
    <div class="row">

      <!-- Yasodara Córdova -->
      <article class="video-content" id="yasodara-córdova">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item empty">
            <%= image_tag 'event-video-placeholder@2x.png' %>
            <small>Available soon</small>
          </div>
        </div>
        <h3>25 Minutes of Semantic Web</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-yasodara@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Project Leader at W3C Brazil</h5>Yaso is project leader at W3C Brazil office and co-chair of the Data on the Web Best Practices (#dwbp FTW!). Graduated in Industrial Design, self-taught developer and open source enthusiastic and practioner. Worked for many years at UNESCO as technical consultant for inovation, and in a past life won 2 Vladimir Herzog prizes making DataVis for journalism. Today, her work consists in research and build software that awake people to Web's potential to be a tool towards a more open, free and universal Internet.<br><a class='twitter' href='http://twitter.com/yaso' target='_blank'></a><a class='web' href='http://www.linkedin.com/in/yasodara' target='_blank'></a>">Yasodara Córdova</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 6<sup>th</sup></time>
            <br>
            <small class="video-language">In Portuguese</small>
          </div>
        </div>
      </article>

      <!-- John Crepezzi -->
      <article class="video-content" id="john-crepezzi">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item empty">
            <%= image_tag 'event-video-placeholder@2x.png' %>
            <small>Available soon</small>
          </div>
        </div>
        <h3>On Memory</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-john@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Developer at Genius</h5>John is a developer at Genius in New York. He's the author of several popular Ruby gems including ice_cube, easy_translate, and google_plus. He is also the creator of the open source pastebin software hastebin. He enjoys speaking and blogging about code, learning new things, and writing great software.<br><a class='twitter' href='http://twitter.com/seejohnrun' target='_blank'></a>">John Crepezzi</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 7<sup>th</sup></time>
            <br>
            <small class="video-language">In English</small>
          </div>
        </div>
      </article>

    </div>
    <div class="row">

      <!-- PJ Hagerty -->
      <article class="video-content centered" id="pj-hagerty">
        <div class="video-embed embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item empty">
            <%= image_tag 'event-video-placeholder@2x.png' %>
            <small>Available soon</small>
          </div>
        </div>
        <h3>Urban Legends: What You Code Makes You Who You Are</h3>
        <div class="video-description">
          <div class="video-description-left">
            <%= image_tag 'event-speaker-pj@2x.png', class: 'author-image' %>
          </div>
          <div class="video-description-right">
            <h4 class="video-author">
              <a role="button" target="_blank" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" tabindex="0" data-container="body" data-content="<h5>Community Team Lead at Engine Yard</h5>A Ruby developer for the last several years, PJ currently works at Engine Yard as the Community Team Lead. Additionally, he organizes the Western New York Ruby Brigade. Traveling to conferences and Ruby meet ups around the US and Canada, PJ likes to spread the word on the importance of community and coding, stressing the importance of outreach and focusing on the human side of being a coder.<br><a class='twitter' href='http://twitter.com/aspleenic' target='_blank'></a>">PJ Hagerty</a>
            </h4>
            <br>
            <time class="video-time">Presented at March 7<sup>th</sup></time>
            <br>
            <small class="video-language">In English</small>
          </div>
        </div>
      </article>

    </div>
  </section>
</main>
