---
title: Tropical Ruby 2015 — Schedule — March 5th to 8th at Porto de Galinhas, Brazil
---

<main class="schedule day-two">

  <h1>Schedule: March 6th, Activities &amp; Talks</h1>
  <%= partial "schedule-nav" %>

  <article class="schedule-area">

    <section class="activities">
      <header>
        <h2>Activities</h2>
          <div class="schedule-subtitles">
            <small class="schedule-subtitle">
              <span class="icon-medium icon-calendar"></span><time date="2015-03-06">March 6th • Morning</time>
            </small>
            <a class="schedule-subtitle" href="https://goo.gl/maps/BDtI3" title="View it in Google Maps." target="_blank">
              <span class="icon-medium icon-geolocal"></span><address>Porto de Galinhas</address>
            </a>
          </div>
      </header>
      <ol class="schedule-events row">

        <!-- Buggy Ride -->
        <li class="event" id="buggy-ride">
          <h3 class="event-title">Buggy Ride</h3>
          <%= image_tag 'event-activity-buggy@2x.png', class: 'event-image' %>
          <a class="event-local" href="https://goo.gl/maps/d9Wxo" title="View it in Google Maps." target="_blank">Leaving from Summerville Beach Resort</a>
          <time class="event-time">8<span>am</span> to 11<span>am</span></time>
          <p class="event-description">
            <span>Have fun on this off-road adventure across the white sand beaches of Muro Alto, Cupe, Porto de Galinhas and Maracaípe.</span>
          </p>
          <span class="time-line"></span>
        </li>

        <!-- Raft Boat Sail -->
        <li class="event" id="raft-boat-sail">
          <h3 class="event-title">Raft Boat Sail</h3>
          <%= image_tag 'event-activity-sail@2x.png', class: 'event-image' %>
          <a class="event-local" href="https://goo.gl/maps/qZZsi" title="View it in Google Maps." target="_blank">Leaving from Porto de Galinhas Square</a>
          <time class="event-time">9<span>am</span> to 10<span>am</span></time>
          <p class="event-description">
            <span>Sail over the famous natural pools of Porto de Galinhas on a traditional raft boat used by local fishermen.</span>
          </p>
          <span class="time-line"></span>
        </li>

      </ol>
    </section>

    <section class="talks">
      <header>
        <h2>Talks</h2>
          <div class="schedule-subtitles">
            <small class="schedule-subtitle">
              <span class="icon-medium icon-calendar"></span><time date="2015-03-6">March 6th • Afternoon</time>
            </small>
            <small class="schedule-subtitle">
              <span class="icon-medium icon-translation"></span>Simultaneous Translation
            </small>
            <a class="schedule-subtitle" href="https://goo.gl/maps/d9Wxo" title="View it in Google Maps." target="_blank">
              <span class="icon-medium icon-geolocal"></span><address>Summerville Beach Resort</address>
            </a>
          </div>
      </header>
      <ol class="schedule-events row">

        <!-- Transportation -->
        <li class="event event-minor transportation" id="recife-porto">
          <h3 class="event-title">Transfer from Recife to Porto de Galinhas</h3>
          <%= image_tag 'schedule-talk-transportation@2x.png', class: 'event-image' %>
          <a class="event-local" href="https://goo.gl/maps/C6Zno" title="View it in Google Maps." target="_blank">Leaving from Derby Square at <strong>5:30am &amp; 10am</strong></a>
          <a class="event-local" href="https://goo.gl/maps/Hf8My" title="View it in Google Maps." target="_blank">Leaving from Recife Int. Airpot at <strong>6am &amp; 10:30am</strong></a>
          <time class="event-time">5:30<span>am</span> &amp; 10<span>am</span></time>
          <span class="time-line"></span>
        </li>

        <!-- Registration -->
        <li class="event event-minor" id="registration">
          <h3 class="event-title">Registration</h3>
          <%= image_tag 'schedule-talk-registration@2x.png', class: 'event-image' %>
          <time class="event-time">12<span>pm</span></time>
          <span class="time-line"></span>
        </li>

        <!-- Nick Sutterer -->
        <li class="event" id="nick-sutterer">
          <h3 class="event-title">Keynote: See You On The Trail!</h3>
          <%= image_tag 'event-speaker-nick@2x.png', class: 'event-image' %>
          <h4 class="event-author">
            <a href="http://lanyrd.com/2015/tropicalrb/sdhfxf/" title="See Nick at Lanyrd." target="_blank">Nick Sutterer</a>
          </h4>
          <time class="event-time">1<span>pm</span></time>
          <span class="time-line"></span>
        </li>

        <!-- Simone Carletti -->
        <li class="event" id="simone-carletti">
          <h3 class="event-title">Maintaining a 5yo Ruby project</h3>
          <%= image_tag 'event-speaker-simone@2x.png', class: 'event-image' %>
          <h4 class="event-author">
            <a href="http://lanyrd.com/2015/tropicalrb/sdhpwp/" title="See author at Lanyrd." target="_blank">Simone Carletti</a>
          </h4>
          <time class="event-time">1:40<span>pm</span></time>
          <p class="event-description">
            <span class="first-words">
              Maintaining a young, small Ruby product is simple, but time passes and your code becomes harder to maintain day after day. This talk illustrates the development
            </span>
            <span class="last-words">
              techniques, Ruby patterns and best practices we use at DNSimple to develop new features and ensure long-term maintainability of our codebase.
            </span>
            <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
          </p>
          <span class="time-line"></span>
        </li>

        <!-- Christopher Rigor -->
        <li class="event" id="christopher-rigor">
          <h3 class="event-title">Cryptography for Rails Developers</h3>
          <%= image_tag 'event-speaker-christopher@2x.png', class: 'event-image' %>
          <h4 class="event-author">
            <a href="http://lanyrd.com/2015/tropicalrb/sdhfxp/" title="See Christopher at Lanyrd." target="_blank">Christopher Rigor</a>
          </h4>
          <time class="event-time">2:10<span>pm</span></time>
          <p class="event-description">
            <span class="first-words">
              You know HTTPS keeps your website secure but do you know how? Ruby just released a new version to address a vulnerability with SSL but do you know your app might
            </span>
            <span class="last-words">
              still be vulnerable? Cryptography is a hard and huge topic and this talk will give you a great introduction. You don't need a background on cryptography, just an open mind! You will learn about the public key cryptography, SSL/TLS and Ruby tips that will make your app secure.
            </span>
            <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
          </p>
          <span class="time-line"></span>
        </li>

        <!-- Alex Coles -->
        <li class="event" id="alex-coles">
          <h3 class="event-title">Frontend Choices</h3>
          <%= image_tag 'event-speaker-alex@2x.png', class: 'event-image' %>
          <h4 class="event-author">
            <a href="http://lanyrd.com/2015/tropicalrb/sdhpwq/" title="See Alex at Lanyrd." target="_blank">Alex Coles</a>
          </h4>
          <time class="event-time">2:40<span>pm</span></time>
          <p class="event-description">
            <span class="first-words">
              Rails was born in 2004, the time of the "Ajax revolution". With the help of a little bit of prototype, Scriptaculous and RJS, Rails made its mark in part because it facilitated
            </span>
            <span class="last-words">
            creating beautiful and highly interactive web user interfaces in no time at all. Fast forward to 2013. Frameworks like Meteor and Hoodie are capturing increasing mindshare. Are we now in the decade of JavaScript? Is the "Rails Way" still relevant to the frontend?
            </span>
            <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
          </p>
          <span class="time-line"></span>
        </li>

        <li class="event event-minor" id="coffee-break">
          <h3 class="event-title">Coffee Break</h3>
          <%= image_tag 'schedule-talk-coffee@2x.png', class: 'event-image' %>
          <time class="event-time">3:10<span>pm</span></time>
          <span class="time-line"></span>
        </li>

        <!-- Ricardo Nacif -->
        <li class="event" id="ricardo-nacif">
          <h3 class="event-title">Writing Your Own DSL Using Ruby</h3>
          <%= image_tag 'event-speaker-ricardo@2x.png', class: 'event-image' %>
          <h4 class="event-author">
            <a href="http://lanyrd.com/2015/tropicalrb/sdhpwr/" title="See Ricardo at Lanyrd." target="_blank">Ricardo Nacif</a>
          </h4>
          <time class="event-time">3:40<span>pm</span></time>

          <p class="event-description">
            <span class="first-words">
              In this talk we'll go through some concepts on the Ruby language that will help us creating our own custom Domain Specific Language. It's a very hands-on
            </span>
            <span class="last-words">
              keynote. We'll play with dynamic classes, dynamic methods, blocks, procs and method chaining, but our main goal is to write (and learn how) our own Pizza Menu DSL.
            </span>
            <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
          </p>

          <span class="time-line"></span>
        </li>

        <!-- Marcelo De Polli -->
        <li class="event" id="marcelo-de-polli">
          <h3 class="event-title">POROs to the Rescue</h3>
          <%= image_tag 'event-speaker-marcelo@2x.png', class: 'event-image' %>
          <h4 class="event-author">
            <a href="http://lanyrd.com/2015/tropicalrb/sdhfxk/" title="See Marcelo at Lanyrd." target="_blank">Marcelo De Polli</a>
          </h4>
          <time class="event-time">4:10<span>pm</span></time>
          <p class="event-description">
            <span class="first-words">
              Being tasked with rescuing an ancient codebase and turning it into something workable and manageable is a predicament most of us have already found ourselves in. In the
            </span>
            <span class="last-words">
              10 years since we began using Ruby to write Web applications, a lot has changed concerning architectures and design patterns. How do you take your code in a time travel from the olden days to more current practices such as POROs, lean models, presenters and decorators? This talk will walk you through some easy practices that can make that trip less bumpy and allow you to survive to tell the story.
            </span>
            <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
          </p>
          <span class="time-line"></span>
        </li>

        <!-- Lucas Allan -->
        <li class="event" id="lucas-allan">
          <h3 class="event-title">Concurrent-Ruby: Ruby in the Concurrent World</h3>
          <%= image_tag 'event-speaker-lucas@2x.png', class: 'event-image' %>
          <h4 class="event-author">
            <a href="http://lanyrd.com/2015/tropicalrb/sdhpwt/" title="See Lucas at Lanyrd." target="_blank">Lucas Allan</a>
          </h4>
          <time class="event-time">4:40<span>pm</span></time>
          <p class="event-description">
            <span class="first-words">
              Rumor has it that you can't write concurrent programs in Ruby. People once believed that the world was flat and we all know how that turned out. Between the native
            </span>
            <span class="last-words">
              threads introduced in MRI 1.9 and the JVM threading available to JRuby, Ruby is now a valid platform for concurrent applications. What we've been missing — until now — are the advanced concurrency tools available to other languages like Clojure, Scala, Erlang, and Go.
            </span>
            <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
          </p>
          <span class="time-line"></span>
        </li>

        <!-- Rafael França -->
        <li class="event" id="rafael-frança">
          <h3 class="event-title">Object Oriented Design, Rails and Why You Should Think Twice Before Leaving the Rails Way</h3>
          <%= image_tag 'event-speaker-rafael-franca@2x.png', class: 'event-image' %>
          <h4 class="event-author">
            <a href="http://lanyrd.com/2015/tropicalrb/sdhfxm/" title="See Rafael at Lanyrd." target="_blank">Rafael França</a>
          </h4>
          <time class="event-time">5:10<span>pm</span></time>
          <p class="event-description">
            <span class="first-words">
              The Ruby community has been bombarded by a plethora of discussions about software design best practices. Acronyms such as SOLID, DCI and SOA are up in the community
            </span>
            <span class="last-words">
              and all them promise to materialize the ghost of maintainability. What few of these discussions present is that applying these principles and techniques fervently also impacts the software maintenance.
              <br/>
              In this talk I will present some of these concepts and show the symptoms that they can cause in yours projects if applied incorrectly.
            </span>
            <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
          </p>
          <span class="time-line"></span>
        </li>

        <!-- Coffee Break -->
        <li class="event event-minor" id="coffee-break">
          <h3 class="event-title">Coffee Break</h3>
          <%= image_tag 'schedule-talk-coffee@2x.png', class: 'event-image' %>
          <time class="event-time">5:50<span>pm</span></time>
          <span class="time-line"></span>
        </li>

        <!-- Yasodara Córdova -->
        <li class="event" id="yasodara-córdova">
          <h3 class="event-title">25 Minutes of Semantic Web</h3>
          <%= image_tag 'event-speaker-yasodara@2x.png', class: 'event-image' %>
          <h4 class="event-author">
            <a href="https://twitter.com/yaso" title="See Yasodara at Twitter." target="_blank">Yasodara Córdova</a>
          </h4>
          <time class="event-time">6:20<span>pm</span></time>
          <p class="event-description">
            The promess is: you'll understand in 10 minutes why use Semantic Web. The following 15 minutes of the talk will be used to show 15 applications using the concepts of Semantic Web, one per minute :-)
          </p>
          <span class="time-line"></span>
        </li>


        <!-- Panel -->
        <li class="event" id="panel">
          <h3 class="event-title">Panel: The Rails Way vs. Trailblazer</h3>
          <%= image_tag 'event-panel@2x.png', class: 'event-image' %>
          <h4 class="event-author">
            <a href="http://lanyrd.com/2015/tropicalrb/sdhpwx/" title="See Rafael França, Carlos and Nick at Lanyrd." target="_blank">Rafael França, Carlos Antonio &amp; Nick Sutterer</a>
          </h4>
          <time class="event-time">6:20<span>pm</span></time>
          <p class="event-description">
            <span class="first-words">
              Organizing and structuring Rails applications has been an ongoing discussion for years in the community. While some find in necessary to introduce new abstraction
            </span>
            <span class="last-words">
              layers, indirection and encapsulation for a sustainable architecture, others defend we shouldn't abandon the Rails Way for the sake of conventions and compatibility.
              <br/>
              In this panel both members from Rails core as well as the creator of Trailblazer are gonna discuss both approaches, their point of views, why they choose their way, and why they still can be friends.
            </span>
            <a class="expander" href="#author-name" data-alternative-label="Less">More</a>
          </p>
          <span class="time-line"></span>
        </li>

        <!-- Transportation -->
        <li class="event event-minor transportation" id="recife-porto">
          <h3 class="event-title">Transfer from Porto de Galinhas to Recife</h3>
          <%= image_tag 'schedule-talk-transportation@2x.png', class: 'event-image' %>
          <a class="event-local" href="https://goo.gl/maps/Dhjuz" title="View it in Google Maps." target="_blank">Leaving from Summerville at <strong>8pm</strong></a>
          <a class="event-local" href="https://goo.gl/maps/C6Zno" title="View it in Google Maps." target="_blank">Arriving at Derby Square at <strong>9:30pm</strong></a>
          <a class="event-local" href="https://goo.gl/maps/Hf8My" title="View it in Google Maps." target="_blank">Arriving at Recife Int. Airpot at <strong>10pm</strong></a>
          <time class="event-time">8<span>pm</span></time>
          <span class="time-line"></span>
        </li>

      </ol>
    </section>

  </article>
</main>

<%= javascript_include_tag 'schedule' %>
