---
title: Tropical Ruby 2015 — Sponsors — March 5th to 8th at Porto de Galinhas, Brazil
---

<main class="sponsors sponsors-area">
  <h1>Sponsors</h1>
  <a class="prospectus" href="/files/prospectus.pdf" target="_blank" alt="Be awesome! Help us help our community: sponsor the conference!"><span class="icon-medium icon-fist-bump"></span>See our prospectus</a>

  <section class="gold row">
    <header>
      <h2>Gold</h2>
    </header>
    <!--
    <div class="sponsors-brand engine-yard">
      <a href="https://www.engineyard.com/" target="_blank">
        Engine Yard
        <%= image_tag 'sponsor-gold-engineyard@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    -->
    <div class="sponsors-brand nic col-sm-offset-3">
      <a href="http://www.nic.br/" target="_blank">
        NIC.br — Núcleo de Informação e Coordenação do Ponto BR
        <%= image_tag 'sponsor-gold-nic@2x.png', class: 'sponsors-image' %>
      </a>
    </div>

  </section>

  <section class="silver row">
    <header>
      <h2>Silver</h2>
    </header>

    <div class="sponsors-brand github">
      <a href="https://github.com/" target="_blank">
        GitHub
        <%= image_tag 'sponsor-silver-github@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand tempest">
      <a href="http://tempest.com.br/" target="_blank">
        Tempest — Security Intelligence
        <%= image_tag 'sponsor-silver-tempest@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand cers">
      <a href="http://www.cers.com.br/" target="_blank">
        CERS Cursos Online
        <%= image_tag 'sponsor-silver-cers@2x.png', class: 'sponsors-image' %>
      </a>
    </div>

  </section>

  <section class="bronze row">
    <header>
      <h2>Bronze</h2>
    </header>

    <div class="sponsors-brand elife">
      <a href="http://www.elife.com.br" target="_blank">
        E.life
        <%= image_tag 'sponsor-bronze-elife@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand in-loco">
      <a href="http://www.inlocomedia.com" target="_blank">
        In Loco Media
        <%= image_tag 'sponsor-bronze-inlocomedia@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand toptal">
      <a href="http://www.toptal.com" target="_blank">
      <%= image_tag 'sponsor-bronze-toptal@2x.png', class: 'sponsors-image' %>
        In Loco Media
      </a>
    </div>
    <div class="sponsors-brand getup">
      <a href="https://getupcloud.com/?utm_source=tropicalruby&utm_medium=site&utm_campaign=TropicalRuby" target="_blank">
        Getup
        <%= image_tag 'sponsor-bronze-getup@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand la">
      <a href="http://www.latecnologiaemsaude.com.br" target="_blank">
        L.A. Tecnologia em Saúde
        <%= image_tag 'sponsor-bronze-la@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <!-- <div class="sponsors-brand mesa">
      <a href="http://www.mesainc.com.br" target="_blank">
        Mesa | Mobile por natureza
        <%# image_tag 'sponsor-bronze-mesa@2x.png', class: 'sponsors-image' %>
      </a>
    </div> -->
    <!-- <div class="sponsors-brand axon">
      <a href="http://www.axon.com.br/portal/" target="_blank">
        Áxon
        <%# image_tag 'sponsor-bronze-axon@2x.png', class: 'sponsors-image' %>
      </a>
    </div> -->
    <div class="sponsors-brand chargify">
      <a href="https://www.chargify.com" target="_blank">
        Chargify
        <%= image_tag 'sponsor-bronze-chargify@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand cloudwalk">
      <a href="https://www.cloudwalk.io" target="_blank">
        Cloudwalk
        <%= image_tag 'sponsor-bronze-cloudwalk@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand dnsimple">
      <a href="https://dnsimple.com" target="_blank">
        DNSimple
        <%= image_tag 'sponsor-bronze-dnsimple@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand impacthub">
      <a href="http://recife.impacthub.net" target="_blank">
        Impact Hub Recife
        <%= image_tag 'sponsor-bronze-impacthub@2x.png', class: 'sponsors-image' %>
      </a>
    </div>

  </section>

  <section class="organizers">
    <header>
      <h2>Organizers</h2>
    </header>

    <div class="sponsors-brand guava-software">
      <a href="http://guava.com.br" target="_blank">
        Guava Software
        <%= image_tag 'sponsor-organizer-guava@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand eloquent-studio">
      <a href="https://pt-br.facebook.com/geteloquent" target="_blank">
        Eloquent Studio
        <%= image_tag 'sponsor-organizer-eloquent@2x.png', class: 'sponsors-image' %>
      </a>
    </div>
    <div class="sponsors-brand frevo-on-rails">
      <a href="http://frevoonrails.com.br/" target="_blank">
        Frevo on Rails
        <%= image_tag 'sponsor-organizer-for@2x.png', class: 'sponsors-image' %>
      </a>
    </div>

  </section>
</main>
